### Import

In [1]:
#한글 폰트 설치
!apt-get install -y fonts-nanum > /dev/null
!fc-cache -fv > /dev/null
!rm -rf ~/.cache/matplotlib > /dev/null
#런타임 다시시작

������ ��θ� ã�� �� �����ϴ�.
������ ��θ� ã�� �� �����ϴ�.
������ ��θ� ã�� �� �����ϴ�.

In [85]:
# 필요한 모듈 불러오기
import matplotlib.pyplot as plt
import pandas as pd
import dataframe_image as dfi
import numpy as np

plt.rc('font', family='NanumBarunGothic')

# 어느 구가 30-40대 인구가 제일 많은지 TOP 5
* 연령대별 비율
* 총 인구수

In [8]:
# 데이터 불러오기
df_age = pd.read_csv('D:/박상춘/프로젝트/sales_project/data_preprocessing/csv/seoul_population.csv', index_col=0)

In [10]:
# 필요없는 컬럼 제거
df_age.drop(columns=['male', 'female'], axis=1, inplace=True)

In [28]:
# 자치구 리스트
gu_arr = df_age['gu'].unique()
gu_lis = gu_arr.tolist()

In [27]:
# 데이터 확인
df_age.head(6)

    gu age_group  population
0  종로구    20대 미만       18355
1  종로구       20대       28087
2  종로구       30대       10782
3  종로구       40대        9502
4  종로구       50대        9816
5  종로구    60대 이상       72294

In [31]:
# 구별 연령대 비율 구하기
ratio_lis = []
for gu in gu_lis:
    df_gu = df_age[df_age['gu'] == gu]
    total_pop = df_gu['population'].sum()
    ratio_lis.extend([
        round((df_age.iloc[0, 2]/total_pop)*100, 2), round((df_age.iloc[1, 2]/total_pop)*100, 2), round((df_age.iloc[2, 2]/total_pop)*100, 2), 
        round((df_age.iloc[3, 2]/total_pop)*100, 2), round((df_age.iloc[4, 2]/total_pop)*100, 2), round((df_age.iloc[5, 2]/total_pop)*100, 2)
        ])
print(ratio_lis, len(ratio_lis))

[12.33, 18.87, 7.24, 6.38, 6.6, 48.57, 14.53, 22.24, 8.54, 7.52, 7.77, 57.24, 8.28, 12.67, 4.86, 4.29, 4.43, 32.61, 6.41, 9.81, 3.76, 3.32, 3.43, 25.24, 5.29, 8.09, 3.11, 2.74, 2.83, 20.83, 5.27, 8.07, 3.1, 2.73, 2.82, 20.76, 4.83, 7.39, 2.84, 2.5, 2.58, 19.01, 4.21, 6.45, 2.48, 2.18, 2.25, 16.6, 6.27, 9.6, 3.69, 3.25, 3.36, 24.71, 5.94, 9.09, 3.49, 3.07, 3.18, 23.38, 3.64, 5.57, 2.14, 1.89, 1.95, 14.35, 4.01, 6.14, 2.36, 2.08, 2.15, 15.81, 5.84, 8.93, 3.43, 3.02, 3.12, 22.99, 5.03, 7.69, 2.95, 2.6, 2.69, 19.8, 4.24, 6.48, 2.49, 2.19, 2.27, 16.68, 3.28, 5.02, 1.93, 1.7, 1.75, 12.91, 4.31, 6.59, 2.53, 2.23, 2.3, 16.96, 7.42, 11.35, 4.36, 3.84, 3.97, 29.23, 4.56, 6.97, 2.68, 2.36, 2.44, 17.94, 4.73, 7.24, 2.78, 2.45, 2.53, 18.63, 3.7, 5.67, 2.17, 1.92, 1.98, 14.58, 4.68, 7.16, 2.75, 2.42, 2.5, 18.43, 3.65, 5.58, 2.14, 1.89, 1.95, 14.37, 2.89, 4.43, 1.7, 1.5, 1.55, 11.39, 4.07, 6.23, 2.39, 2.11, 2.18, 16.03] 150

In [32]:
# 반복문에서 구한 연령대 비율을 데이터 프레임에 추가
age_ratio = pd.Series(ratio_lis)
df_age.insert(loc=3, column='age_ratio', value=age_ratio)

In [33]:
# 데이터 확인
df_age

      gu age_group  population  age_ratio
0    종로구    20대 미만       18355      12.33
1    종로구       20대       28087      18.87
2    종로구       30대       10782       7.24
3    종로구       40대        9502       6.38
4    종로구       50대        9816       6.60
..   ...       ...         ...        ...
145  강동구       20대       58184       6.23
146  강동구       30대       33898       2.39
147  강동구       40대       35993       2.11
148  강동구       50대       37290       2.18
149  강동구    60대 이상      214654      16.03

[150 rows x 4 columns]

### 30대

In [46]:
# 30대 데이터만 가져오기
df_30 = df_age[df_age.age_group == '30대']

#### 비율

In [78]:
# 비율
df_30_ratio = df_30.sort_values(by=['age_ratio'], ascending=False)
df_30_ratio = df_30_ratio.head(5)
df_30_ratio

      gu age_group  population  age_ratio
8     중구       30대       11071       8.54
2    종로구       30대       10782       7.24
14   용산구       30대       20341       4.86
104  금천구       30대       21591       4.36
20   성동구       30대       23416       3.76

In [89]:
# 내보내기 위한 데이터프레임 정리
df_30_ratio.set_index([pd.Index(range(1, 6))], inplace=True)
df_30_ratio.rename(columns={'gu':'자치구', 'age_group':'연령대', 'population':'인구수', 'age_ratio':'연령대별 비율'}, inplace=True)

In [90]:
# 사진으로 변환
dfi.export(df_30_ratio, "./plot/df_30_ratio.png")

#### 총 인구수

In [79]:
# 총 인구수
df_30_num = df_30.sort_values(by=['population'], ascending=False)
df_30_num = df_30_num.head(5)
df_30_num

       gu age_group  population  age_ratio
122   관악구       30대       51210       2.17
140   송파구       30대       50886       1.70
92    강서구       30대       50053       1.93
110  영등포구       30대       39283       2.68
134   강남구       30대       36758       2.14

In [91]:
# 내보내기 위한 데이터프레임 정리
df_30_num.set_index([pd.Index(range(1, 6))], inplace=True)
df_30_num.rename(columns={'gu':'자치구', 'age_group':'연령대', 'population':'인구수', 'age_ratio':'연령대별 비율'}, inplace=True)

In [92]:
# 사진으로 변환
dfi.export(df_30_num, "./plot/df_30_num.png")

### 40대

In [49]:
# 40대 데이터만 가져오기
df_40 = df_age[df_age.age_group == '40대']

#### 비율

In [80]:
# 비율
df_40_ratio = df_40.sort_values(by=['age_ratio'], ascending=False)
df_40_ratio = df_40_ratio.head(5)
df_40_ratio

      gu age_group  population  age_ratio
9     중구       40대       10223       7.52
3    종로구       40대        9502       6.38
15   용산구       40대       18855       4.29
105  금천구       40대       18155       3.84
21   성동구       40대       23654       3.32

In [93]:
df_40_ratio.set_index([pd.Index(range(1, 6))], inplace=True)
df_40_ratio.rename(columns={'gu':'자치구', 'age_group':'연령대', 'population':'인구수', 'age_ratio':'연령대별 비율'}, inplace=True)

In [94]:
dfi.export(df_40_ratio, "./plot/df_40_ratio.png")

#### 총 인구수

In [81]:
# 총 인구수
df_40_num = df_40.sort_values(by=['population'], ascending=False)
df_40_num = df_40_num.head(5)
df_40_num

      gu age_group  population  age_ratio
141  송파구       40대       52144       1.50
93   강서구       40대       46237       1.70
135  강남구       40대       37496       1.89
123  관악구       40대       36408       1.92
147  강동구       40대       35993       2.11

In [95]:
df_40_num.set_index([pd.Index(range(1, 6))], inplace=True)
df_40_num.rename(columns={'gu':'자치구', 'age_group':'연령대', 'population':'인구수', 'age_ratio':'연령대별 비율'}, inplace=True)

In [96]:
dfi.export(df_40_num, "./plot/df_40_num.png")

# 어느 구가 여자가 많은지 TOP 5
* 남자/여자 비율
* 여자 총 인구수

In [63]:
# 데이터 불러오기
df_temp = pd.read_csv('D:/박상춘/프로젝트/sales_project/data_preprocessing/csv/seoul_population.csv', index_col=0)

In [64]:
# 데이터 확인
df_temp

      gu age_group  population    male  female
0    종로구    20대 미만       18355    9182    9173
1    종로구       20대       28087   13055   15032
2    종로구       30대       10782    5416    5366
3    종로구       40대        9502    4744    4758
4    종로구       50대        9816    4756    5060
..   ...       ...         ...     ...     ...
145  강동구       20대       58184   28296   29888
146  강동구       30대       33898   16735   17163
147  강동구       40대       35993   17912   18081
148  강동구       50대       37290   18631   18659
149  강동구    60대 이상      214654  102042  112612

[150 rows x 5 columns]

In [65]:
# 자치구별 합계 인구수로 축소(연령대 제거)
total_poplis = []
for gu in gu_lis:
    df_gu = df_temp[df_temp['gu'] == gu]
    total_poplis.append([gu, df_gu.iloc[0:6, 2].sum(), df_gu.iloc[0:6, 3].sum(), df_gu.iloc[0:6, 4].sum()])
df_female = pd.DataFrame(total_poplis, columns=['gu', 'population', 'male', 'female'])

In [67]:
# 데이터 확인
df_female.head()

    gu  population    male  female
0  종로구      148836   71358   77478
1   중구      126296   60652   65644
2  용산구      221662  106904  114758
3  성동구      286441  139174  147267
4  광진구      347058  166458  180600

In [68]:
# 구별 여성비율 구하기
sex_ratio_lis = []
for i in df_female.index:
        sex_ratio_lis.append(round(((df_female.loc[i, 'female']/df_female.loc[i, 'population'])*100), 2))
print(sex_ratio_lis, len(sex_ratio_lis))

[52.06, 51.98, 51.77, 51.41, 52.04, 51.34, 50.99, 52.37, 51.72, 51.67, 51.94, 52.3, 53.4, 53.21, 51.09, 52.03, 50.19, 49.28, 50.36, 51.73, 50.01, 52.22, 52.12, 51.87, 51.02] 25

In [69]:
# 여성 비율을 데이터 프레임에 추가
sex_ratio = pd.Series(sex_ratio_lis)
df_female.insert(loc=4, column='female_ratio', value=sex_ratio)

#### 비율

In [98]:
# 비율
df_female_ratio = df_female.sort_values(by=['female_ratio'], ascending=False)
df_female_ratio = df_female_ratio.head(5)
df_female_ratio

      gu  population    male  female  female_ratio
12  서대문구      314506  146550  167956         53.40
13   마포구      365159  170859  194300         53.21
7    성북구      435477  207421  228056         52.37
11   은평구      457349  218149  239200         52.30
21   서초구      392264  187426  204838         52.22

In [99]:
df_female_ratio.set_index([pd.Index(range(1, 6))], inplace=True)
df_female_ratio.rename(columns={'gu':'자치구', 'population':'인구수', 'male':'남성 인구수', 'female':'여성 인구수', 'female_ratio':'여성 비율'}, inplace=True)

In [101]:
dfi.export(df_female_ratio, "./plot/df_female_ratio.png")

#### 총 인구수

In [102]:
# 총 인구수
df_female_num = df_female.sort_values(by=['female'], ascending=False)
df_female_num = df_female_num.head(5)
df_female_num

     gu  population    male  female  female_ratio
23  송파구      634665  305438  329227         51.87
15  강서구      559780  268515  291265         52.03
22  강남구      502960  240827  262133         52.12
10  노원구      503863  242163  261700         51.94
20  관악구      495735  247807  247928         50.01

In [103]:
df_female_num.set_index([pd.Index(range(1, 6))], inplace=True)
df_female_num.rename(columns={'gu':'자치구', 'population':'인구수', 'male':'남성 인구수', 'female':'여성 인구수', 'female_ratio':'여성 비율'}, inplace=True)

In [104]:
dfi.export(df_female_num, "./plot/df_female_num.png")

# 구별 많은 업종 TOP 5
* 강남 근처
* 송파, 서초, 성동, 용산, 광진

# 업종별 많이 위치한 구 TOP 5
* 치킨

# 구별 평점 높은/낮은 업종 TOP 5
* 강남 근처
* 송파, 서초, 성동, 용산, 광진

# 업종별 평점 높이/낮게 준 구 TOP 5
* 치킨

# 구별 업종식당수와 주문건수의 비율 높은 업종 TOP 5
* 강남 근처
* 송파, 서초, 성동, 용산, 광진