### Import

In [1]:
#한글 폰트 설치
!apt-get install -y fonts-nanum > /dev/null
!fc-cache -fv > /dev/null
!rm -rf ~/.cache/matplotlib > /dev/null
#런타임 다시시작

������ ��θ� ã�� �� �����ϴ�.
������ ��θ� ã�� �� �����ϴ�.
������ ��θ� ã�� �� �����ϴ�.

In [85]:
# 필요한 모듈 불러오기
import matplotlib.pyplot as plt
import pandas as pd
import dataframe_image as dfi
import numpy as np

plt.rc('font', family='NanumBarunGothic')

# 1) 어느 구가 30-40대 인구가 제일 많은지 TOP 5
* 연령대별 비율
* 총 인구수

In [8]:
# 데이터 불러오기
df_age = pd.read_csv('D:/박상춘/프로젝트/sales_project/data_preprocessing/csv/seoul_population.csv', index_col=0)

In [10]:
# 필요없는 컬럼 제거
df_age.drop(columns=['male', 'female'], axis=1, inplace=True)

In [28]:
# 자치구 리스트
gu_arr = df_age['gu'].unique()
gu_lis = gu_arr.tolist()

In [27]:
# 데이터 확인
df_age.head(6)

    gu age_group  population
0  종로구    20대 미만       18355
1  종로구       20대       28087
2  종로구       30대       10782
3  종로구       40대        9502
4  종로구       50대        9816
5  종로구    60대 이상       72294

In [31]:
# 구별 연령대 비율 구하기
ratio_lis = []
for gu in gu_lis:
    df_t = df_age[df_age['gu'] == gu]
    total_pop = df_t['population'].sum()
    ratio_lis.extend([
        round((df_age.iloc[0, 2]/total_pop)*100, 2), round((df_age.iloc[1, 2]/total_pop)*100, 2), round((df_age.iloc[2, 2]/total_pop)*100, 2), 
        round((df_age.iloc[3, 2]/total_pop)*100, 2), round((df_age.iloc[4, 2]/total_pop)*100, 2), round((df_age.iloc[5, 2]/total_pop)*100, 2)
        ])
print(ratio_lis, len(ratio_lis))

[12.33, 18.87, 7.24, 6.38, 6.6, 48.57, 14.53, 22.24, 8.54, 7.52, 7.77, 57.24, 8.28, 12.67, 4.86, 4.29, 4.43, 32.61, 6.41, 9.81, 3.76, 3.32, 3.43, 25.24, 5.29, 8.09, 3.11, 2.74, 2.83, 20.83, 5.27, 8.07, 3.1, 2.73, 2.82, 20.76, 4.83, 7.39, 2.84, 2.5, 2.58, 19.01, 4.21, 6.45, 2.48, 2.18, 2.25, 16.6, 6.27, 9.6, 3.69, 3.25, 3.36, 24.71, 5.94, 9.09, 3.49, 3.07, 3.18, 23.38, 3.64, 5.57, 2.14, 1.89, 1.95, 14.35, 4.01, 6.14, 2.36, 2.08, 2.15, 15.81, 5.84, 8.93, 3.43, 3.02, 3.12, 22.99, 5.03, 7.69, 2.95, 2.6, 2.69, 19.8, 4.24, 6.48, 2.49, 2.19, 2.27, 16.68, 3.28, 5.02, 1.93, 1.7, 1.75, 12.91, 4.31, 6.59, 2.53, 2.23, 2.3, 16.96, 7.42, 11.35, 4.36, 3.84, 3.97, 29.23, 4.56, 6.97, 2.68, 2.36, 2.44, 17.94, 4.73, 7.24, 2.78, 2.45, 2.53, 18.63, 3.7, 5.67, 2.17, 1.92, 1.98, 14.58, 4.68, 7.16, 2.75, 2.42, 2.5, 18.43, 3.65, 5.58, 2.14, 1.89, 1.95, 14.37, 2.89, 4.43, 1.7, 1.5, 1.55, 11.39, 4.07, 6.23, 2.39, 2.11, 2.18, 16.03] 150

In [32]:
# 반복문에서 구한 연령대 비율을 데이터 프레임에 추가
age_ratio = pd.Series(ratio_lis)
df_age.insert(loc=3, column='age_ratio', value=age_ratio)

In [33]:
# 데이터 확인
df_age

      gu age_group  population  age_ratio
0    종로구    20대 미만       18355      12.33
1    종로구       20대       28087      18.87
2    종로구       30대       10782       7.24
3    종로구       40대        9502       6.38
4    종로구       50대        9816       6.60
..   ...       ...         ...        ...
145  강동구       20대       58184       6.23
146  강동구       30대       33898       2.39
147  강동구       40대       35993       2.11
148  강동구       50대       37290       2.18
149  강동구    60대 이상      214654      16.03

[150 rows x 4 columns]

### 30대

In [46]:
# 30대 데이터만 가져오기
df_30 = df_age[df_age.age_group == '30대']

#### 비율

In [78]:
# 비율
df_30_ratio = df_30.sort_values(by=['age_ratio'], ascending=False)
df_30_ratio = df_30_ratio.head(5)
df_30_ratio

      gu age_group  population  age_ratio
8     중구       30대       11071       8.54
2    종로구       30대       10782       7.24
14   용산구       30대       20341       4.86
104  금천구       30대       21591       4.36
20   성동구       30대       23416       3.76

In [89]:
# 내보내기 위한 데이터프레임 정리
df_30_ratio.set_index([pd.Index(range(1, 6))], inplace=True)
df_30_ratio.rename(columns={'gu':'자치구', 'age_group':'연령대', 'population':'인구수', 'age_ratio':'연령대별 비율'}, inplace=True)

In [90]:
# 이미지로 변환
dfi.export(df_30_ratio, "./plot/df_30_ratio.png")

#### 총 인구수

In [79]:
# 총 인구수
df_30_num = df_30.sort_values(by=['population'], ascending=False)
df_30_num = df_30_num.head(5)
df_30_num

       gu age_group  population  age_ratio
122   관악구       30대       51210       2.17
140   송파구       30대       50886       1.70
92    강서구       30대       50053       1.93
110  영등포구       30대       39283       2.68
134   강남구       30대       36758       2.14

In [91]:
# 내보내기 위한 데이터프레임 정리
df_30_num.set_index([pd.Index(range(1, 6))], inplace=True)
df_30_num.rename(columns={'gu':'자치구', 'age_group':'연령대', 'population':'인구수', 'age_ratio':'연령대별 비율'}, inplace=True)

In [92]:
# 이미지로 변환
dfi.export(df_30_num, "./plot/df_30_num.png")

### 40대

In [49]:
# 40대 데이터만 가져오기
df_40 = df_age[df_age.age_group == '40대']

#### 비율

In [80]:
# 비율
df_40_ratio = df_40.sort_values(by=['age_ratio'], ascending=False)
df_40_ratio = df_40_ratio.head(5)
df_40_ratio

      gu age_group  population  age_ratio
9     중구       40대       10223       7.52
3    종로구       40대        9502       6.38
15   용산구       40대       18855       4.29
105  금천구       40대       18155       3.84
21   성동구       40대       23654       3.32

In [93]:
df_40_ratio.set_index([pd.Index(range(1, 6))], inplace=True)
df_40_ratio.rename(columns={'gu':'자치구', 'age_group':'연령대', 'population':'인구수', 'age_ratio':'연령대별 비율'}, inplace=True)

In [94]:
dfi.export(df_40_ratio, "./plot/df_40_ratio.png")

#### 총 인구수

In [81]:
# 총 인구수
df_40_num = df_40.sort_values(by=['population'], ascending=False)
df_40_num = df_40_num.head(5)
df_40_num

      gu age_group  population  age_ratio
141  송파구       40대       52144       1.50
93   강서구       40대       46237       1.70
135  강남구       40대       37496       1.89
123  관악구       40대       36408       1.92
147  강동구       40대       35993       2.11

In [95]:
df_40_num.set_index([pd.Index(range(1, 6))], inplace=True)
df_40_num.rename(columns={'gu':'자치구', 'age_group':'연령대', 'population':'인구수', 'age_ratio':'연령대별 비율'}, inplace=True)

In [96]:
dfi.export(df_40_num, "./plot/df_40_num.png")

# 2) 어느 구가 여자가 많은지 TOP 5
* 남자/여자 비율
* 여자 총 인구수

In [63]:
# 데이터 불러오기
df_temp = pd.read_csv('D:/박상춘/프로젝트/sales_project/data_preprocessing/csv/seoul_population.csv', index_col=0)

In [64]:
# 데이터 확인
df_temp

      gu age_group  population    male  female
0    종로구    20대 미만       18355    9182    9173
1    종로구       20대       28087   13055   15032
2    종로구       30대       10782    5416    5366
3    종로구       40대        9502    4744    4758
4    종로구       50대        9816    4756    5060
..   ...       ...         ...     ...     ...
145  강동구       20대       58184   28296   29888
146  강동구       30대       33898   16735   17163
147  강동구       40대       35993   17912   18081
148  강동구       50대       37290   18631   18659
149  강동구    60대 이상      214654  102042  112612

[150 rows x 5 columns]

In [65]:
# 자치구별 합계 인구수로 축소(연령대 제거)
total_poplis = []
for gu in gu_lis:
    df_t = df_temp[df_temp['gu'] == gu]
    total_poplis.append([gu, df_t.iloc[0:6, 2].sum(), df_t.iloc[0:6, 3].sum(), df_t.iloc[0:6, 4].sum()])
df_female = pd.DataFrame(total_poplis, columns=['gu', 'population', 'male', 'female'])

In [67]:
# 데이터 확인
df_female.head()

    gu  population    male  female
0  종로구      148836   71358   77478
1   중구      126296   60652   65644
2  용산구      221662  106904  114758
3  성동구      286441  139174  147267
4  광진구      347058  166458  180600

In [68]:
# 구별 여성비율 구하기
sex_ratio_lis = []
for i in df_female.index:
        sex_ratio_lis.append(round(((df_female.loc[i, 'female']/df_female.loc[i, 'population'])*100), 2))
print(sex_ratio_lis, len(sex_ratio_lis))

[52.06, 51.98, 51.77, 51.41, 52.04, 51.34, 50.99, 52.37, 51.72, 51.67, 51.94, 52.3, 53.4, 53.21, 51.09, 52.03, 50.19, 49.28, 50.36, 51.73, 50.01, 52.22, 52.12, 51.87, 51.02] 25

In [69]:
# 여성 비율을 데이터 프레임에 추가
sex_ratio = pd.Series(sex_ratio_lis)
df_female.insert(loc=4, column='female_ratio', value=sex_ratio)

#### 비율

In [98]:
# 비율
df_female_ratio = df_female.sort_values(by=['female_ratio'], ascending=False)
df_female_ratio = df_female_ratio.head(5)
df_female_ratio

      gu  population    male  female  female_ratio
12  서대문구      314506  146550  167956         53.40
13   마포구      365159  170859  194300         53.21
7    성북구      435477  207421  228056         52.37
11   은평구      457349  218149  239200         52.30
21   서초구      392264  187426  204838         52.22

In [99]:
df_female_ratio.set_index([pd.Index(range(1, 6))], inplace=True)
df_female_ratio.rename(columns={'gu':'자치구', 'population':'인구수', 'male':'남성 인구수', 'female':'여성 인구수', 'female_ratio':'여성 비율'}, inplace=True)

In [101]:
dfi.export(df_female_ratio, "./plot/df_female_ratio.png")

#### 총 인구수

In [102]:
# 총 인구수
df_female_num = df_female.sort_values(by=['female'], ascending=False)
df_female_num = df_female_num.head(5)
df_female_num

     gu  population    male  female  female_ratio
23  송파구      634665  305438  329227         51.87
15  강서구      559780  268515  291265         52.03
22  강남구      502960  240827  262133         52.12
10  노원구      503863  242163  261700         51.94
20  관악구      495735  247807  247928         50.01

In [103]:
df_female_num.set_index([pd.Index(range(1, 6))], inplace=True)
df_female_num.rename(columns={'gu':'자치구', 'population':'인구수', 'male':'남성 인구수', 'female':'여성 인구수', 'female_ratio':'여성 비율'}, inplace=True)

In [104]:
dfi.export(df_female_num, "./plot/df_female_num.png")

# 2-1) 30-40대 여성이 많은 자치구 TOP 5

In [326]:
# 데이터 불러오기
df_as = pd.read_csv('D:/박상춘/프로젝트/sales_project/data_preprocessing/csv/seoul_population.csv', index_col=0)

In [327]:
# 구별 연령대 비율 구하기
ratio_lis1 = []
for gu in gu_lis:
    df_t = df_as[df_as['gu'] == gu]
    total_pop = df_t['population'].sum()
    ratio_lis1.extend([
        round((df_as.iloc[0, 2]/total_pop)*100, 2), round((df_as.iloc[1, 2]/total_pop)*100, 2), round((df_as.iloc[2, 2]/total_pop)*100, 2), 
        round((df_as.iloc[3, 2]/total_pop)*100, 2), round((df_as.iloc[4, 2]/total_pop)*100, 2), round((df_as.iloc[5, 2]/total_pop)*100, 2)
        ])

In [328]:
# 연령대 비율을 데이터 프레임에 추가
age_ratio1 = pd.Series(ratio_lis1)
df_as.insert(loc=5, column='age_ratio', value=age_ratio1)

In [329]:
# 구별 여성비율 구하기
sex_ratio_lis1 = []
for i in df_as.index:
        sex_ratio_lis1.append(round(((df_as.loc[i, 'female']/df_as.loc[i, 'population'])*100), 2))

In [330]:
# 여성 비율을 데이터 프레임에 추가
sex_ratio1 = pd.Series(sex_ratio_lis1)
df_as.insert(loc=6, column='female_ratio', value=sex_ratio1)

In [331]:
# 데이터 확인
df_as

      gu age_group  population    male  female  age_ratio  female_ratio
0    종로구    20대 미만       18355    9182    9173      12.33         49.98
1    종로구       20대       28087   13055   15032      18.87         53.52
2    종로구       30대       10782    5416    5366       7.24         49.77
3    종로구       40대        9502    4744    4758       6.38         50.07
4    종로구       50대        9816    4756    5060       6.60         51.55
..   ...       ...         ...     ...     ...        ...           ...
145  강동구       20대       58184   28296   29888       6.23         51.37
146  강동구       30대       33898   16735   17163       2.39         50.63
147  강동구       40대       35993   17912   18081       2.11         50.23
148  강동구       50대       37290   18631   18659       2.18         50.04
149  강동구    60대 이상      214654  102042  112612      16.03         52.46

[150 rows x 7 columns]

## 30대 여성

In [333]:
# 30대 데이터만 가져오기
df_as30 = df_as[df_as.age_group == '30대']

#### 비율

In [337]:
# 비율
df_as30_ratio = df_as30.sort_values(by=['female_ratio'], ascending=False)
df_as30_ratio = df_as30_ratio.head(5)
df_as30_ratio

      gu age_group  population   male  female  age_ratio  female_ratio
80   마포구       30대       32613  15047   17566       2.95         53.86
128  서초구       30대       27464  12822   14642       2.75         53.31
134  강남구       30대       36758  17335   19423       2.14         52.84
140  송파구       30대       50886  24333   26553       1.70         52.18
20   성동구       30대       23416  11288   12128       3.76         51.79

In [338]:
# 내보내기 위한 데이터프레임 정리
df_as30_ratio.set_index([pd.Index(range(1, 6))], inplace=True)
df_as30_ratio.rename(columns={
    'gu':'자치구', 'age_group':'연령대', 'population':'인구수', 'male':'남성 인구수', 'female':'여성 인구수', 'age_ratio':'연령대별 비율', 'female_ratio':'여성 비율'
    }, inplace=True)

In [339]:
# 이미지로 변환
dfi.export(df_as30_ratio, "./plot/df_as30_ratio(30대 여성 비율).png")

#### 총 인구수

In [341]:
# 총 인구수
df_as30_num = df_as30.sort_values(by=['female'], ascending=False)
df_as30_num = df_as30_num.head(5)
df_as30_num

       gu age_group  population   male  female  age_ratio  female_ratio
140   송파구       30대       50886  24333   26553       1.70         52.18
92    강서구       30대       50053  24745   25308       1.93         50.56
122   관악구       30대       51210  28310   22900       2.17         44.72
134   강남구       30대       36758  17335   19423       2.14         52.84
110  영등포구       30대       39283  19936   19347       2.68         49.25

In [342]:
# 내보내기 위한 데이터프레임 정리
df_as30_num.set_index([pd.Index(range(1, 6))], inplace=True)
df_as30_num.rename(columns={
    'gu':'자치구', 'age_group':'연령대', 'population':'인구수', 'male':'남성 인구수', 'female':'여성 인구수', 'age_ratio':'연령대별 비율', 'female_ratio':'여성 비율'
    }, inplace=True)

In [343]:
# 이미지로 변환
dfi.export(df_as30_num, "./plot/df_as30_num(30대 여성 인구수).png")

## 40대 여성

In [344]:
# 40대 데이터만 가져오기
df_as40 = df_as[df_as.age_group == '40대']

#### 비율

In [345]:
# 비율
df_as40_ratio = df_as40.sort_values(by=['female_ratio'], ascending=False)
df_as40_ratio = df_as40_ratio.head(5)
df_as40_ratio

      gu age_group  population   male  female  age_ratio  female_ratio
135  강남구       40대       37496  17179   20317       1.89         54.18
129  서초구       40대       29554  13675   15879       2.42         53.73
141  송파구       40대       52144  25022   27122       1.50         52.01
81   마포구       40대       30990  15004   15986       2.60         51.58
87   양천구       40대       28512  13947   14565       2.19         51.08

In [346]:
# 내보내기 위한 데이터프레임 정리
df_as40_ratio.set_index([pd.Index(range(1, 6))], inplace=True)
df_as40_ratio.rename(columns={
    'gu':'자치구', 'age_group':'연령대', 'population':'인구수', 'male':'남성 인구수', 'female':'여성 인구수', 'age_ratio':'연령대별 비율', 'female_ratio':'여성 비율'
    }, inplace=True)

In [347]:
# 이미지로 변환
dfi.export(df_as40_ratio, "./plot/df_as40_ratio(40대 여성 비율).png")

#### 총 인구수

In [348]:
# 총 인구수
df_as40_num = df_as40.sort_values(by=['female'], ascending=False)
df_as40_num = df_as40_num.head(5)
df_as40_num

      gu age_group  population   male  female  age_ratio  female_ratio
141  송파구       40대       52144  25022   27122       1.50         52.01
93   강서구       40대       46237  23673   22564       1.70         48.80
135  강남구       40대       37496  17179   20317       1.89         54.18
147  강동구       40대       35993  17912   18081       2.11         50.23
69   은평구       40대       32890  16380   16510       2.08         50.20

In [349]:
# 내보내기 위한 데이터프레임 정리
df_as40_num.set_index([pd.Index(range(1, 6))], inplace=True)
df_as40_num.rename(columns={
    'gu':'자치구', 'age_group':'연령대', 'population':'인구수', 'male':'남성 인구수', 'female':'여성 인구수', 'age_ratio':'연령대별 비율', 'female_ratio':'여성 비율'
    }, inplace=True)

In [350]:
# 이미지로 변환
dfi.export(df_as40_num, "./plot/df_as40_num(40대 여성 인구수).png")

# 3) 구별 많은 업종 TOP 5
* 강남 근처
* 송파, 서초, 성동, 용산, 광진

In [106]:
# 데이터 불러오기
df_gu = pd.read_csv('D:/박상춘/프로젝트/sales_project/data_preprocessing/csv/place_location(full).csv')

In [108]:
# 필요없는 컬럼 제거
df_gu.drop(['place_name', 'address', 'lat', 'lng'], axis=1, inplace=True)

## 강남구

In [113]:
# 자치구 선정
user_gu = '강남구'

In [115]:
df_gu

         food   gu
0      아시안/양식  종로구
1          찜탕  강북구
2          한식  도봉구
3          한식  중랑구
4           회  성북구
...       ...  ...
18397  돈까스/일식  강서구
18398  돈까스/일식  강서구
18399      찜탕  강서구
18400  돈까스/일식  강서구
18401  돈까스/일식  양천구

[18402 rows x 2 columns]

In [122]:
df_gu_gn = df_gu[df_gu['gu'] == user_gu].groupby(['food']).count().sort_values(by=['gu'], ascending=False)
df_gu_gn

         gu
food
한식      540
아시안/양식  352
돈까스/일식  229
분식      104
중식       99
카페/디저트   79
치킨       57
야식       56
찜탕       56
패스트푸드    48
족발/보쌈    47
회        36
도시락      30
피자       30

In [126]:
# 인덱스 새로 생성
df_gu_gn.reset_index(inplace=True)

In [128]:
# 컬럼명 변경 및 인덱스 리셋
df_gu_gn.rename(columns={'food':'업종', 'gu':'식당수'}, inplace=True)
df_gu_gn.set_index([pd.Index(range(1, 15))], inplace=True)

In [129]:
# 데이터 확인
df_gu_gn

        업종  식당수
1       한식  540
2   아시안/양식  352
3   돈까스/일식  229
4       분식  104
5       중식   99
6   카페/디저트   79
7       치킨   57
8       야식   56
9       찜탕   56
10   패스트푸드   48
11   족발/보쌈   47
12       회   36
13     도시락   30
14      피자   30

In [130]:
# 데이터 프레임을 이미지로 변환
df_gu_gn = df_gu_gn.head(5)
dfi.export(df_gu_gn, "./plot/df_gu_gn(강남).png")

## 송파구

In [132]:
# 자치구 선정
user_gu = '송파구'

In [133]:
df_gu_sp = df_gu[df_gu['gu'] == user_gu].groupby(['food']).count().sort_values(by=['gu'], ascending=False)
df_gu_sp

         gu
food
한식      298
아시안/양식  129
돈까스/일식  127
치킨       97
분식       76
카페/디저트   63
중식       56
찜탕       52
야식       45
패스트푸드    37
회        36
족발/보쌈    32
피자       31
도시락      17

In [134]:
# 인덱스 새로 생성
df_gu_sp.reset_index(inplace=True)

In [135]:
# 컬럼명 변경 및 인덱스 리셋
df_gu_sp.rename(columns={'food':'업종', 'gu':'식당수'}, inplace=True)
df_gu_sp.set_index([pd.Index(range(1, 15))], inplace=True)

In [136]:
# 데이터 확인
df_gu_sp

        업종  식당수
1       한식  298
2   아시안/양식  129
3   돈까스/일식  127
4       치킨   97
5       분식   76
6   카페/디저트   63
7       중식   56
8       찜탕   52
9       야식   45
10   패스트푸드   37
11       회   36
12   족발/보쌈   32
13      피자   31
14     도시락   17

In [137]:
# 데이터 프레임을 이미지로 변환
df_gu_sp = df_gu_sp.head(5)
dfi.export(df_gu_sp, "./plot/df_gu_sp(송파).png")

## 서초구

In [138]:
# 자치구 선정
user_gu = '서초구'

In [139]:
df_gu_sc = df_gu[df_gu['gu'] == user_gu].groupby(['food']).count().sort_values(by=['gu'], ascending=False)
df_gu_sc

         gu
food
한식      199
아시안/양식  119
돈까스/일식   93
카페/디저트   57
중식       46
분식       33
치킨       28
패스트푸드    28
족발/보쌈    22
야식       20
찜탕       15
도시락      11
피자       11
회         4

In [140]:
# 인덱스 새로 생성
df_gu_sc.reset_index(inplace=True)

In [141]:
# 컬럼명 변경 및 인덱스 리셋
df_gu_sc.rename(columns={'food':'업종', 'gu':'식당수'}, inplace=True)
df_gu_sc.set_index([pd.Index(range(1, 15))], inplace=True)

In [142]:
# 데이터 확인
df_gu_sc

        업종  식당수
1       한식  199
2   아시안/양식  119
3   돈까스/일식   93
4   카페/디저트   57
5       중식   46
6       분식   33
7       치킨   28
8    패스트푸드   28
9    족발/보쌈   22
10      야식   20
11      찜탕   15
12     도시락   11
13      피자   11
14       회    4

In [143]:
# 데이터 프레임을 이미지로 변환
df_gu_sc = df_gu_sc.head(5)
dfi.export(df_gu_sc, "./plot/df_gu_sc(서초).png")

## 성동구

In [144]:
# 자치구 선정
user_gu = '성동구'

In [145]:
df_gu_sd = df_gu[df_gu['gu'] == user_gu].groupby(['food']).count().sort_values(by=['gu'], ascending=False)
df_gu_sd

         gu
food
한식      123
아시안/양식   99
돈까스/일식   60
카페/디저트   50
족발/보쌈    28
야식       24
분식       22
찜탕       20
피자       20
치킨       19
중식       18
패스트푸드    16
도시락      11
회         5

In [146]:
# 인덱스 새로 생성
df_gu_sd.reset_index(inplace=True)

In [147]:
# 컬럼명 변경 및 인덱스 리셋
df_gu_sd.rename(columns={'food':'업종', 'gu':'식당수'}, inplace=True)
df_gu_sd.set_index([pd.Index(range(1, 15))], inplace=True)

In [148]:
# 데이터 확인
df_gu_sd

        업종  식당수
1       한식  123
2   아시안/양식   99
3   돈까스/일식   60
4   카페/디저트   50
5    족발/보쌈   28
6       야식   24
7       분식   22
8       찜탕   20
9       피자   20
10      치킨   19
11      중식   18
12   패스트푸드   16
13     도시락   11
14       회    5

In [149]:
# 데이터 프레임을 이미지로 변환
df_gu_sd = df_gu_sd.head(5)
dfi.export(df_gu_sd, "./plot/df_gu_sd(성동).png")

## 용산구

In [150]:
# 자치구 선정
user_gu = '용산구'

In [151]:
df_gu_ys = df_gu[df_gu['gu'] == user_gu].groupby(['food']).count().sort_values(by=['gu'], ascending=False)
df_gu_ys

         gu
food
아시안/양식  237
한식      151
카페/디저트   76
돈까스/일식   67
중식       29
패스트푸드    27
야식       22
피자       22
치킨       21
족발/보쌈    20
분식       17
찜탕       16
회        11
도시락       5

In [152]:
# 인덱스 새로 생성
df_gu_ys.reset_index(inplace=True)

In [153]:
# 컬럼명 변경 및 인덱스 리셋
df_gu_ys.rename(columns={'food':'업종', 'gu':'식당수'}, inplace=True)
df_gu_ys.set_index([pd.Index(range(1, 15))], inplace=True)

In [154]:
# 데이터 확인
df_gu_ys

        업종  식당수
1   아시안/양식  237
2       한식  151
3   카페/디저트   76
4   돈까스/일식   67
5       중식   29
6    패스트푸드   27
7       야식   22
8       피자   22
9       치킨   21
10   족발/보쌈   20
11      분식   17
12      찜탕   16
13       회   11
14     도시락    5

In [155]:
# 데이터 프레임을 이미지로 변환
df_gu_ys = df_gu_ys.head(5)
dfi.export(df_gu_ys, "./plot/df_gu_ys(용산).png")

## 광진구

In [156]:
# 자치구 선정
user_gu = '광진구'

In [157]:
df_gu_gj = df_gu[df_gu['gu'] == user_gu].groupby(['food']).count().sort_values(by=['gu'], ascending=False)
df_gu_gj

         gu
food
한식      185
아시안/양식   94
돈까스/일식   64
분식       59
중식       42
치킨       42
찜탕       35
카페/디저트   32
족발/보쌈    31
야식       21
패스트푸드    20
회        16
피자       13
도시락      11

In [158]:
# 인덱스 새로 생성
df_gu_gj.reset_index(inplace=True)

In [159]:
# 컬럼명 변경 및 인덱스 리셋
df_gu_gj.rename(columns={'food':'업종', 'gu':'식당수'}, inplace=True)
df_gu_gj.set_index([pd.Index(range(1, 15))], inplace=True)

In [160]:
# 데이터 확인
df_gu_gj

        업종  식당수
1       한식  185
2   아시안/양식   94
3   돈까스/일식   64
4       분식   59
5       중식   42
6       치킨   42
7       찜탕   35
8   카페/디저트   32
9    족발/보쌈   31
10      야식   21
11   패스트푸드   20
12       회   16
13      피자   13
14     도시락   11

In [161]:
# 데이터 프레임을 이미지로 변환
df_gu_gj = df_gu_gj.head(6)
dfi.export(df_gu_gj, "./plot/df_gu_gj(광진).png")

## 총

In [ ]:
# 각 데이터 프레임에 자치구 컬럼 추가
df_gu_gn['자치구'] = '강남구'
df_gu_sp['자치구'] = '송파구'
df_gu_sc['자치구'] = '서초구'
df_gu_sd['자치구'] = '성동구'
df_gu_ys['자치구'] = '용산구'
df_gu_gj['자치구'] = '광진구'

In [308]:
# 데이터 프레임 합치기
df_gu_all = pd.concat([df_gu_gn, df_gu_sp, df_gu_sc, df_gu_sd, df_gu_ys, df_gu_gj])

In [309]:
df_gu_all = df_gu_all.sort_values(by=['식당수'], ascending=False)
df_gu_all.set_index([pd.Index(range(1, df_gu_all.자치구.count()+1))], inplace=True)

In [310]:
# 데이터 확인
df_gu_all

        업종  식당수  자치구
1       한식  540  강남구
2   아시안/양식  352  강남구
3       한식  298  송파구
4   아시안/양식  237  용산구
5   돈까스/일식  229  강남구
6       한식  199  서초구
7       한식  185  광진구
8       한식  151  용산구
9   아시안/양식  129  송파구
10  돈까스/일식  127  송파구
11      한식  123  성동구
12  아시안/양식  119  서초구
13      분식  104  강남구
14  아시안/양식   99  성동구
15      중식   99  강남구
16      치킨   97  송파구
17  아시안/양식   94  광진구
18  돈까스/일식   93  서초구
19      분식   76  송파구
20  카페/디저트   76  용산구
21  돈까스/일식   67  용산구
22  돈까스/일식   64  광진구
23  돈까스/일식   60  성동구
24      분식   59  광진구
25  카페/디저트   57  서초구
26  카페/디저트   50  성동구
27      중식   46  서초구
28      중식   42  광진구
29      치킨   42  광진구
30      중식   29  용산구
31   족발/보쌈   28  성동구

In [311]:
# 데이터 프레임을 이미지로 변환
df_gu_all = df_gu_all.head(5)
dfi.export(df_gu_all, "./plot/df_gu_all(총).png")

# 4) 업종별 많이 위치한 구 TOP 5
* 치킨

In [162]:
# 데이터 불러오기
df_food = pd.read_csv('D:/박상춘/프로젝트/sales_project/data_preprocessing/csv/place_location(full).csv')

In [164]:
# 필요없는 컬럼 제거
df_food.drop(['place_name', 'address', 'lat', 'lng'], axis=1, inplace=True)

## 치킨

In [178]:
df_food_c = df_food[df_food['food'] == '치킨'] # 치킨 업종 선정

In [179]:
df_food_c = df_food_c.groupby(['gu']).count().sort_values(by=['food'], ascending=False)

In [182]:
# 인덱스 새로 생성
df_food_c.reset_index(inplace=True)

In [183]:
# 컬럼명 변경 및 인덱스 리셋
df_food_c.rename(columns={'gu':'자치구', 'food':'식당수'}, inplace=True)
df_food_c.set_index([pd.Index(range(1, 26))], inplace=True)

In [184]:
# 데이터 확인
df_food_c

     자치구  식당수
1    송파구   97
2    관악구   90
3   영등포구   88
4    마포구   73
5    동작구   68
6    구로구   64
7    강서구   61
8    양천구   61
9    성북구   58
10   강동구   58
11   강남구   57
12   노원구   51
13   중랑구   48
14   도봉구   45
15  서대문구   43
16   광진구   42
17  동대문구   40
18   금천구   38
19   강북구   34
20   은평구   32
21   종로구   32
22   서초구   28
23   용산구   21
24    중구   21
25   성동구   19

In [185]:
# 데이터 프레임을 이미지로 변환
df_food_c = df_food_c.head(5)
dfi.export(df_food_c, "./plot/df_food_c(치킨).png")

# 5) 구별 평균 평점 높은/낮은 업종 TOP 5
* 강남 근처
* 송파, 서초, 성동, 용산, 광진

In [186]:
# 데이터 불러오기
df_gu_r = pd.read_csv('rating_crawling.csv', index_col=0)

In [189]:
# 필요없는 컬럼 제거
df_gu_r.drop(['name', 'address', 'lat', 'lng'], axis=1, inplace=True)

In [191]:
# 데이터 확인
df_gu_r

       gu    food  rating
0     강북구      치킨    4.30
1     종로구      치킨    4.34
2     종로구      치킨    4.38
3     용산구      피자    4.47
4      중구      야식    4.27
...   ...     ...     ...
9093  강서구  돈까스/일식    4.44
9094  강서구  돈까스/일식    4.40
9095  강서구      찜탕    4.31
9096  강서구  돈까스/일식    4.37
9097  양천구  돈까스/일식    4.39

[9098 rows x 3 columns]

## 강남구

In [215]:
# 자치구 선정
user_gu = '강남구'

In [216]:
# 강남구 데이터만 추출
df_gu_r_gn = df_gu_r[df_gu_r['gu'] == user_gu]

In [220]:
# 업종별 평균 평점
df_gu_r_gn = df_gu_r_gn.groupby('food').rating.mean().to_frame().sort_values(by=['rating'], ascending=False)

In [221]:
# 인덱스 새로 생성
df_gu_r_gn.reset_index(inplace=True)

In [222]:
# 데이터 확인
df_gu_r_gn

      food    rating
0       피자  4.516471
1   아시안/양식  4.503675
2       야식  4.483913
3   돈까스/일식  4.483534
4   카페/디저트  4.466000
5       찜탕  4.451818
6    족발/보쌈  4.427317
7      도시락  4.424615
8       중식  4.417656
9        회  4.405000
10      한식  4.403882
11   패스트푸드  4.402105
12      치킨  4.392000
13      분식  4.359661

In [223]:
# 컬럼명 변경 및 인덱스 리셋
df_gu_r_gn.rename(columns={'food':'업종', 'rating':'평균 평점'}, inplace=True)
df_gu_r_gn.set_index([pd.Index(range(1, 15))], inplace=True)

In [224]:
# 평점을 소수점 두자리로 축소
for i in df_gu_r_gn.index:
    df_gu_r_gn.loc[i, '평균 평점'] = round(df_gu_r_gn.loc[i, '평균 평점'], 2)

In [225]:
# 데이터 확인
df_gu_r_gn

        업종  평균 평점
1       피자   4.52
2   아시안/양식   4.50
3       야식   4.48
4   돈까스/일식   4.48
5   카페/디저트   4.47
6       찜탕   4.45
7    족발/보쌈   4.43
8      도시락   4.42
9       중식   4.42
10       회   4.40
11      한식   4.40
12   패스트푸드   4.40
13      치킨   4.39
14      분식   4.36

In [227]:
# 데이터 프레임을 이미지로 변환
df_gu_r_gn = df_gu_r_gn.head(5)
dfi.export(df_gu_r_gn, "./plot/df_gu_r_gn(강남 평점).png")

## 송파구

In [228]:
# 자치구 선정
user_gu = '송파구'

In [229]:
# 송파구 데이터만 추출
df_gu_r_sp = df_gu_r[df_gu_r['gu'] == user_gu]

In [230]:
# 업종별 평균 평점
df_gu_r_sp = df_gu_r_sp.groupby('food').rating.mean().to_frame().sort_values(by=['rating'], ascending=False)

In [231]:
# 인덱스 새로 생성
df_gu_r_sp.reset_index(inplace=True)

In [232]:
# 데이터 확인
df_gu_r_sp

      food    rating
0   카페/디저트  4.740000
1   아시안/양식  4.525217
2       야식  4.479032
3   돈까스/일식  4.464386
4    족발/보쌈  4.446538
5       한식  4.432593
6       치킨  4.422308
7       피자  4.418947
8        회  4.416552
9       분식  4.398049
10      중식  4.388438
11     도시락  4.383333
12      찜탕  4.379000
13   패스트푸드  4.353333

In [233]:
# 컬럼명 변경 및 인덱스 리셋
df_gu_r_sp.rename(columns={'food':'업종', 'rating':'평균 평점'}, inplace=True)
df_gu_r_sp.set_index([pd.Index(range(1, 15))], inplace=True)

In [234]:
# 평점을 소수점 두자리로 축소
for i in df_gu_r_sp.index:
    df_gu_r_sp.loc[i, '평균 평점'] = round(df_gu_r_sp.loc[i, '평균 평점'], 2)

In [235]:
# 데이터 확인
df_gu_r_sp

        업종  평균 평점
1   카페/디저트   4.74
2   아시안/양식   4.53
3       야식   4.48
4   돈까스/일식   4.46
5    족발/보쌈   4.45
6       한식   4.43
7       치킨   4.42
8       피자   4.42
9        회   4.42
10      분식   4.40
11      중식   4.39
12     도시락   4.38
13      찜탕   4.38
14   패스트푸드   4.35

In [236]:
# 데이터 프레임을 이미지로 변환
df_gu_r_sp = df_gu_r_sp.head(5)
dfi.export(df_gu_r_sp, "./plot/df_gu_r_sp(송파 평점).png")

## 서초구

In [237]:
# 자치구 선정
user_gu = '서초구'

In [238]:
# 서초구 데이터만 추출
df_gu_r_sc = df_gu_r[df_gu_r['gu'] == user_gu]

In [239]:
# 업종별 평균 평점
df_gu_r_sc = df_gu_r_sc.groupby('food').rating.mean().to_frame().sort_values(by=['rating'], ascending=False)

In [240]:
# 인덱스 새로 생성
df_gu_r_sc.reset_index(inplace=True)

In [241]:
# 데이터 확인
df_gu_r_sc

      food    rating
0        회  4.587500
1   카페/디저트  4.570000
2   아시안/양식  4.498974
3       피자  4.467500
4   돈까스/일식  4.445091
5       치킨  4.426429
6       분식  4.425714
7       한식  4.399231
8    족발/보쌈  4.391905
9       중식  4.387037
10      야식  4.366667
11   패스트푸드  4.361500
12      찜탕  4.346000
13     도시락  4.201667

In [242]:
# 컬럼명 변경 및 인덱스 리셋
df_gu_r_sc.rename(columns={'food':'업종', 'rating':'평균 평점'}, inplace=True)
df_gu_r_sc.set_index([pd.Index(range(1, 15))], inplace=True)

In [243]:
# 평점을 소수점 두자리로 축소
for i in df_gu_r_sc.index:
    df_gu_r_sc.loc[i, '평균 평점'] = round(df_gu_r_sc.loc[i, '평균 평점'], 2)

In [244]:
# 데이터 확인
df_gu_r_sc

        업종  평균 평점
1        회   4.59
2   카페/디저트   4.57
3   아시안/양식   4.50
4       피자   4.47
5   돈까스/일식   4.45
6       치킨   4.43
7       분식   4.43
8       한식   4.40
9    족발/보쌈   4.39
10      중식   4.39
11      야식   4.37
12   패스트푸드   4.36
13      찜탕   4.35
14     도시락   4.20

In [245]:
# 데이터 프레임을 이미지로 변환
df_gu_r_sc = df_gu_r_sc.head(5)
dfi.export(df_gu_r_sc, "./plot/df_gu_r_sc(서초 평점).png")

## 성동구

In [246]:
# 자치구 선정
user_gu = '성동구'

In [247]:
# 성동구 데이터만 추출
df_gu_r_sd = df_gu_r[df_gu_r['gu'] == user_gu]

In [249]:
# 업종별 평균 평점
df_gu_r_sd = df_gu_r_sd.groupby('food').rating.mean().to_frame().sort_values(by=['rating'], ascending=False)

In [250]:
# 인덱스 새로 생성
df_gu_r_sd.reset_index(inplace=True)

In [251]:
# 데이터 확인
df_gu_r_sd

      food    rating
0   아시안/양식  4.575882
1   카페/디저트  4.535714
2       피자  4.528571
3    패스트푸드  4.512857
4   돈까스/일식  4.508333
5       야식  4.485882
6       분식  4.456667
7       한식  4.429070
8       찜탕  4.425000
9       치킨  4.416364
10       회  4.405000
11   족발/보쌈  4.400000
12      중식  4.326154
13     도시락  4.295000

In [252]:
# 컬럼명 변경 및 인덱스 리셋
df_gu_r_sd.rename(columns={'food':'업종', 'rating':'평균 평점'}, inplace=True)
df_gu_r_sd.set_index([pd.Index(range(1, 15))], inplace=True)

In [253]:
# 평점을 소수점 두자리로 축소
for i in df_gu_r_sd.index:
    df_gu_r_sd.loc[i, '평균 평점'] = round(df_gu_r_sd.loc[i, '평균 평점'], 2)

In [254]:
# 데이터 확인
df_gu_r_sd

        업종  평균 평점
1   아시안/양식   4.58
2   카페/디저트   4.54
3       피자   4.53
4    패스트푸드   4.51
5   돈까스/일식   4.51
6       야식   4.49
7       분식   4.46
8       한식   4.43
9       찜탕   4.42
10      치킨   4.42
11       회   4.40
12   족발/보쌈   4.40
13      중식   4.33
14     도시락   4.30

In [255]:
# 데이터 프레임을 이미지로 변환
df_gu_r_sd = df_gu_r_sd.head(5)
dfi.export(df_gu_r_sd, "./plot/df_gu_r_sd(성동 평점).png")

## 용산구

In [256]:
# 자치구 선정
user_gu = '용산구'

In [257]:
# 용산구 데이터만 추출
df_gu_r_ys = df_gu_r[df_gu_r['gu'] == user_gu]

In [258]:
# 업종별 평균 평점
df_gu_r_ys = df_gu_r_ys.groupby('food').rating.mean().to_frame().sort_values(by=['rating'], ascending=False)

In [259]:
# 인덱스 새로 생성
df_gu_r_ys.reset_index(inplace=True)

In [260]:
# 데이터 확인
df_gu_r_ys

      food    rating
0       피자  4.562632
1       야식  4.558824
2   아시안/양식  4.491897
3   카페/디저트  4.487045
4    패스트푸드  4.435833
5       분식  4.430000
6       한식  4.426279
7    족발/보쌈  4.423684
8   돈까스/일식  4.407188
9       찜탕  4.400000
10      중식  4.376250
11       회  4.358000
12      치킨  4.353333
13     도시락  4.260000

In [261]:
# 컬럼명 변경 및 인덱스 리셋
df_gu_r_ys.rename(columns={'food':'업종', 'rating':'평균 평점'}, inplace=True)
df_gu_r_ys.set_index([pd.Index(range(1, 15))], inplace=True)

In [262]:
# 평점을 소수점 두자리로 축소
for i in df_gu_r_ys.index:
    df_gu_r_ys.loc[i, '평균 평점'] = round(df_gu_r_ys.loc[i, '평균 평점'], 2)

In [263]:
# 데이터 확인
df_gu_r_ys

        업종  평균 평점
1       피자   4.56
2       야식   4.56
3   아시안/양식   4.49
4   카페/디저트   4.49
5    패스트푸드   4.44
6       분식   4.43
7       한식   4.43
8    족발/보쌈   4.42
9   돈까스/일식   4.41
10      찜탕   4.40
11      중식   4.38
12       회   4.36
13      치킨   4.35
14     도시락   4.26

In [264]:
# 데이터 프레임을 이미지로 변환
df_gu_r_ys = df_gu_r_ys.head(5)
dfi.export(df_gu_r_ys, "./plot/df_gu_r_ys(용산 평점).png")

## 광진구

In [265]:
# 자치구 선정
user_gu = '광진구'

In [266]:
# 광진구 데이터만 추출
df_gu_r_gj = df_gu_r[df_gu_r['gu'] == user_gu]

In [267]:
# 업종별 평균 평점
df_gu_r_gj = df_gu_r_gj.groupby('food').rating.mean().to_frame().sort_values(by=['rating'], ascending=False)

In [268]:
# 인덱스 새로 생성
df_gu_r_gj.reset_index(inplace=True)

In [269]:
# 데이터 확인
df_gu_r_gj

      food    rating
0   카페/디저트  4.793333
1   아시안/양식  4.509556
2       피자  4.477500
3   돈까스/일식  4.475758
4       야식  4.458667
5       중식  4.458462
6       한식  4.448571
7       치킨  4.438571
8    족발/보쌈  4.424667
9       찜탕  4.391818
10     도시락  4.375000
11       회  4.357273
12      분식  4.354706
13   패스트푸드  4.323333

In [270]:
# 컬럼명 변경 및 인덱스 리셋
df_gu_r_gj.rename(columns={'food':'업종', 'rating':'평균 평점'}, inplace=True)
df_gu_r_gj.set_index([pd.Index(range(1, 15))], inplace=True)

In [271]:
# 평점을 소수점 두자리로 축소
for i in df_gu_r_gj.index:
    df_gu_r_gj.loc[i, '평균 평점'] = round(df_gu_r_gj.loc[i, '평균 평점'], 2)

In [272]:
# 데이터 확인
df_gu_r_gj

        업종  평균 평점
1   카페/디저트   4.79
2   아시안/양식   4.51
3       피자   4.48
4   돈까스/일식   4.48
5       야식   4.46
6       중식   4.46
7       한식   4.45
8       치킨   4.44
9    족발/보쌈   4.42
10      찜탕   4.39
11     도시락   4.38
12       회   4.36
13      분식   4.35
14   패스트푸드   4.32

In [274]:
# 데이터 프레임을 이미지로 변환
df_gu_r_gj = df_gu_r_gj.head(6)
dfi.export(df_gu_r_gj, "./plot/df_gu_r_gj(광진 평점).png")

## 총

In [ ]:
# 각 데이터 프레임에 자치구 컬럼 추가
df_gu_r_gn['자치구'] = '강남구'
df_gu_r_sp['자치구'] = '송파구'
df_gu_r_sc['자치구'] = '서초구'
df_gu_r_sd['자치구'] = '성동구'
df_gu_r_ys['자치구'] = '용산구'
df_gu_r_gj['자치구'] = '광진구'

In [314]:
# 데이터 프레임 합치기
df_gu_r_all = pd.concat([df_gu_r_gn, df_gu_r_sp, df_gu_r_sc, df_gu_r_sd, df_gu_r_ys, df_gu_r_gj])

In [316]:
df_gu_r_all = df_gu_r_all.sort_values(by=['평균 평점'], ascending=False)
df_gu_r_all.set_index([pd.Index(range(1, df_gu_r_all.자치구.count()+1))], inplace=True)

In [317]:
# 데이터 확인
df_gu_r_all

        업종  평균 평점  자치구
1   카페/디저트   4.79  광진구
2   카페/디저트   4.74  송파구
3        회   4.59  서초구
4   아시안/양식   4.58  성동구
5   카페/디저트   4.57  서초구
6       야식   4.56  용산구
7       피자   4.56  용산구
8   카페/디저트   4.54  성동구
9   아시안/양식   4.53  송파구
10      피자   4.53  성동구
11      피자   4.52  강남구
12  아시안/양식   4.51  광진구
13   패스트푸드   4.51  성동구
14  돈까스/일식   4.51  성동구
15  아시안/양식   4.50  강남구
16  아시안/양식   4.50  서초구
17  아시안/양식   4.49  용산구
18  카페/디저트   4.49  용산구
19  돈까스/일식   4.48  강남구
20  돈까스/일식   4.48  광진구
21      야식   4.48  송파구
22      피자   4.48  광진구
23      야식   4.48  강남구
24      피자   4.47  서초구
25  카페/디저트   4.47  강남구
26      야식   4.46  광진구
27      중식   4.46  광진구
28  돈까스/일식   4.46  송파구
29  돈까스/일식   4.45  서초구
30   족발/보쌈   4.45  송파구
31   패스트푸드   4.44  용산구

In [318]:
# 데이터 프레임을 이미지로 변환
df_gu_r_all = df_gu_r_all.head(5)
dfi.export(df_gu_r_all, "./plot/df_gu_r_all(총 평점).png")

# 6) 업종별 평균적으로 평점 높이/낮게 준 구 TOP 5
* 치킨

In [275]:
# 데이터 불러오기
df_food_r = pd.read_csv('rating_crawling.csv', index_col=0)

In [276]:
# 필요없는 컬럼 제거
df_food_r.drop(['name', 'address', 'lat', 'lng'], axis=1, inplace=True)

In [277]:
df_food_r

       gu    food  rating
0     강북구      치킨    4.30
1     종로구      치킨    4.34
2     종로구      치킨    4.38
3     용산구      피자    4.47
4      중구      야식    4.27
...   ...     ...     ...
9093  강서구  돈까스/일식    4.44
9094  강서구  돈까스/일식    4.40
9095  강서구      찜탕    4.31
9096  강서구  돈까스/일식    4.37
9097  양천구  돈까스/일식    4.39

[9098 rows x 3 columns]

## 치킨

In [278]:
df_food_r_c = df_food_r[df_food_r['food'] == '치킨'] # 치킨 업종 선정

In [280]:
# 업종별 평균 평점
df_food_r_c = df_food_r_c.groupby('gu').rating.mean().to_frame()

In [281]:
# 인덱스 새로 생성
df_food_r_c.reset_index(inplace=True)

In [283]:
# 컬럼명 변경
df_food_r_c.rename(columns={'gu':'자치구', 'rating':'평균 평점'}, inplace=True)

In [284]:
# 평점을 소수점 두자리로 축소
for i in df_food_r_c.index:
    df_food_r_c.loc[i, '평균 평점'] = round(df_food_r_c.loc[i, '평균 평점'], 2)

In [282]:
# 데이터 확인
df_food_r_c

      gu    rating
0   서대문구  4.460000
1    동작구  4.445294
2    광진구  4.438571
3    성북구  4.433889
4    중랑구  4.428462
5    서초구  4.426429
6    강동구  4.424062
7    은평구  4.422941
8    송파구  4.422308
9    관악구  4.418113
10   성동구  4.416364
11   마포구  4.396591
12   강남구  4.392000
13   금천구  4.390556
14   노원구  4.388148
15   도봉구  4.380000
16   구로구  4.378750
17  영등포구  4.378627
18   종로구  4.376667
19   강서구  4.372258
20  동대문구  4.366800
21   양천구  4.366053
22   용산구  4.353333
23   강북구  4.338750
24    중구  4.303333

### 높은 평점

In [291]:
df_food_r_c_high = df_food_r_c.sort_values(by=['평균 평점'], ascending=False)
df_food_r_c_high.set_index([pd.Index(range(1, 26))], inplace=True)

In [292]:
# 데이터 프레임을 이미지로 변환
df_food_r_c_high = df_food_r_c_high.head(6)
dfi.export(df_food_r_c_high, "./plot/df_food_r_c_high(치킨 높은 평점).png")

### 낮은 평점

In [293]:
df_food_r_c_low = df_food_r_c.sort_values(by=['평균 평점'], ascending=True)
df_food_r_c_low.set_index([pd.Index(range(1, 26))], inplace=True)

In [294]:
# 데이터 프레임을 이미지로 변환
df_food_r_c_low = df_food_r_c_low.head(6)
dfi.export(df_food_r_c_low, "./plot/df_food_r_c_low(치킨 낮은 평점).png")

# 7) 구별 업종식당수와 주문건수의 비율 높은 업종 TOP 5
* 강남 근처
* 송파, 서초, 성동, 용산, 광진

## 강남구

## 송파구

## 서초구

## 성동구

## 용산구

## 광진구

## 총