In [34]:
# 모듈임포트
import pandas as pd

In [35]:
# 데이터 불러오기
df1= pd.read_csv("./201907~201909지역별요일별배달품목.csv")

df2= pd.read_csv("./202001~202006지역별요일별배달품목.csv")

df3= pd.read_csv("./202007~202012지역별요일별배달품목.csv")

df4= pd.read_csv("./202101~202106지역별요일별배달품목.csv")

df5= pd.read_csv("./202107~202112지역별요일별배달품목.csv")

In [36]:
total = pd.concat([df1,df2,df3,df4,df5])

In [37]:
total

        Unnamed: 0         년월일  주문시간   요일     시도   시군구    음식분류  광명시
0                0  2019-07-31     0  수요일  서울특별시  영등포구      치킨  NaN
1                1  2019-07-31     0  수요일  서울특별시   은평구   족발/보쌈  NaN
2                2  2019-07-31     0  수요일  서울특별시   구로구   패스트푸드  NaN
3                3  2019-07-31     0  수요일  서울특별시   금천구      한식  NaN
4                4  2019-07-31     0  수요일  서울특별시  영등포구      피자  NaN
...            ...         ...   ...  ...    ...   ...     ...  ...
354239      366157  2021-12-31    23  금요일  서울특별시  영등포구      찜탕  NaN
354240      366158  2021-12-31    23  금요일  서울특별시  영등포구      찜탕  NaN
354241      366159  2021-12-31    23  금요일  서울특별시   구로구  돈까스/일식  NaN
354242      366162  2021-12-31    23  금요일  서울특별시   강서구      한식  NaN
354243      366164  2021-12-31    23  금요일  서울특별시   금천구  돈까스/일식  NaN

[3461290 rows x 8 columns]

In [38]:
# 데이터 타입 확인
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3461290 entries, 0 to 354243
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   년월일         object
 2   주문시간        int64
 3   요일          object
 4   시도          object
 5   시군구         object
 6   음식분류        object
 7   광명시         object
dtypes: int64(2), object(6)
memory usage: 237.7+ MB

In [39]:
# 날짜 데이터를 datetime형식으로 변환
total['년월일'] = pd.to_datetime(total['년월일'])

In [40]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3461290 entries, 0 to 354243
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   년월일         datetime64[ns]
 2   주문시간        int64
 3   요일          object
 4   시도          object
 5   시군구         object
 6   음식분류        object
 7   광명시         object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 237.7+ MB

In [41]:
# 필요없는 데이터 행 삭제
total.drop('광명시', axis =1, inplace=True)
total.drop('Unnamed: 0', axis=1,inplace=True)

In [42]:
total

              년월일  주문시간   요일     시도   시군구    음식분류
0      2019-07-31     0  수요일  서울특별시  영등포구      치킨
1      2019-07-31     0  수요일  서울특별시   은평구   족발/보쌈
2      2019-07-31     0  수요일  서울특별시   구로구   패스트푸드
3      2019-07-31     0  수요일  서울특별시   금천구      한식
4      2019-07-31     0  수요일  서울특별시  영등포구      피자
...           ...   ...  ...    ...   ...     ...
354239 2021-12-31    23  금요일  서울특별시  영등포구      찜탕
354240 2021-12-31    23  금요일  서울특별시  영등포구      찜탕
354241 2021-12-31    23  금요일  서울특별시   구로구  돈까스/일식
354242 2021-12-31    23  금요일  서울특별시   강서구      한식
354243 2021-12-31    23  금요일  서울특별시   금천구  돈까스/일식

[3461290 rows x 6 columns]

In [43]:
# 결측치 확인
total.isnull().sum()

년월일          0
주문시간         0
요일           0
시도           0
시군구     775728
음식분류         0
dtype: int64

In [48]:
# 특정컬럼 결측치제거후 적용
total.dropna(subset=['시군구'])
total.dropna(inplace=True)

In [ ]:
total.to_csv("201907~202112 지역요일별배달품목.csv")