In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("KGU_2nd_ORIGIN_KGUWETHERINFO_20211013000000.csv")

In [3]:
df

,4020001,11110,서울특별시,종로구,20201109,0000,없음,49,0,2.5,0.8,약,east,350,N
0,4020002,11140,서울특별시,중구,20201109,0,없음,49,0.0,2.5,0.8,약,east,350,N
1,4020003,11170,서울특별시,용산구,20201109,0,없음,48,0.0,4.8,0.9,약,none,358,N
2,4020004,11200,서울특별시,성동구,20201109,0,없음,33,0.0,4.7,0.5,약,east,283,WNW
3,4020005,11230,서울특별시,동대문구,20201109,0,없음,33,0.0,4.7,0.5,약,east,283,WNW
4,4020006,11290,서울특별시,성북구,20201109,0,없음,33,0.0,4.7,0.5,약,east,283,WNW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1606744,5626746,48870,경상남도,함양군,20210831,2000,없음,91,0.0,24.6,0.2,약,west,94,E
1606745,5626747,48880,경상남도,거창군,20210831,2000,없음,89,0.0,23.6,1.3,약,east,356,N
1606746,5626748,48890,경상남도,합천군,20210831,2000,없음,95,0.0,25.1,0.0,약,none,0,N
1606747,5626749,50110,제주특별자치도,제주시,20210831,2000,없음,79,0.0,27.7,0.7,약,west,102,ESE
1606748,5626750,50130,제주특별자치도,서귀포시,20210831,2000,없음,87,0.0,26.2,1.1,약,east,237,WSW

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1606749 entries, 0 to 1606748
Data columns (total 15 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   4020001   1606749 non-null  int64
 1   11110     1606749 non-null  int64
 2   서울특별시     1606749 non-null  object
 3   종로구       1606749 non-null  object
 4   20201109  1606749 non-null  int64
 5   0000      1606749 non-null  int64
 6   없음        1606749 non-null  object
 7   49        1606749 non-null  int64
 8   0         1606749 non-null  float64
 9   2.5       1606749 non-null  float64
 10  0.8       1606749 non-null  float64
 11  약         1606749 non-null  object
 12  east      1606749 non-null  object
 13  350       1606749 non-null  int64
 14  N         1606749 non-null  object
dtypes: float64(3), int64(6), object(6)
memory usage: 183.9+ MB

In [5]:
df['20201109']= df['20201109'].astype('str')

In [6]:
# 날짜 타입을 datetime으로 변환
df['20201109'] = pd.to_datetime(df['20201109'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1606749 entries, 0 to 1606748
Data columns (total 15 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   4020001   1606749 non-null  int64
 1   11110     1606749 non-null  int64
 2   서울특별시     1606749 non-null  object
 3   종로구       1606749 non-null  object
 4   20201109  1606749 non-null  datetime64[ns]
 5   0000      1606749 non-null  int64
 6   없음        1606749 non-null  object
 7   49        1606749 non-null  int64
 8   0         1606749 non-null  float64
 9   2.5       1606749 non-null  float64
 10  0.8       1606749 non-null  float64
 11  약         1606749 non-null  object
 12  east      1606749 non-null  object
 13  350       1606749 non-null  int64
 14  N         1606749 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(5), object(6)
memory usage: 183.9+ MB

In [8]:
# 필요없는 데이터 삭제
df.drop(['4020001'],axis=1,inplace=True)
df.drop(['11110'],axis=1,inplace=True)
df.drop(['0000'],axis=1,inplace=True)
df.drop(['없음'],axis=1,inplace=True)
df.drop(['49'],axis=1,inplace=True)
df.drop(['약'],axis=1,inplace=True)
df.drop(['east'],axis=1,inplace=True)
df.drop(['350'],axis=1,inplace=True)
df.drop(['N'],axis=1,inplace=True)

In [9]:
df

           서울특별시   종로구   20201109    0   2.5  0.8
0          서울특별시    중구 2020-11-09  0.0   2.5  0.8
1          서울특별시   용산구 2020-11-09  0.0   4.8  0.9
2          서울특별시   성동구 2020-11-09  0.0   4.7  0.5
3          서울특별시  동대문구 2020-11-09  0.0   4.7  0.5
4          서울특별시   성북구 2020-11-09  0.0   4.7  0.5
...          ...   ...        ...  ...   ...  ...
1606744     경상남도   함양군 2021-08-31  0.0  24.6  0.2
1606745     경상남도   거창군 2021-08-31  0.0  23.6  1.3
1606746     경상남도   합천군 2021-08-31  0.0  25.1  0.0
1606747  제주특별자치도   제주시 2021-08-31  0.0  27.7  0.7
1606748  제주특별자치도  서귀포시 2021-08-31  0.0  26.2  1.1

[1606749 rows x 6 columns]

In [10]:
# 컬럼명 변경
df.rename(columns={'20201109':'date'}, inplace=True)
df.rename(columns={'서울특별시':'city'}, inplace=True)
df.rename(columns={'종로구':'gu'},inplace=True)
df.rename(columns={'0':'pph'},inplace=True)
df.rename(columns={'2.5':'temp'},inplace=True)
df.rename(columns={'0.8':'ws'},inplace=True)

In [11]:
df

            city    gu       date  pph  temp   ws
0          서울특별시    중구 2020-11-09  0.0   2.5  0.8
1          서울특별시   용산구 2020-11-09  0.0   4.8  0.9
2          서울특별시   성동구 2020-11-09  0.0   4.7  0.5
3          서울특별시  동대문구 2020-11-09  0.0   4.7  0.5
4          서울특별시   성북구 2020-11-09  0.0   4.7  0.5
...          ...   ...        ...  ...   ...  ...
1606744     경상남도   함양군 2021-08-31  0.0  24.6  0.2
1606745     경상남도   거창군 2021-08-31  0.0  23.6  1.3
1606746     경상남도   합천군 2021-08-31  0.0  25.1  0.0
1606747  제주특별자치도   제주시 2021-08-31  0.0  27.7  0.7
1606748  제주특별자치도  서귀포시 2021-08-31  0.0  26.2  1.1

[1606749 rows x 6 columns]

In [12]:
# 시도에서 서울특별시에 해당하는 데이터만 추출
df_seoul = df.loc[df['city'].isin(['서울특별시'])]

In [13]:
df_seoul

          city    gu       date  pph  temp   ws
0        서울특별시    중구 2020-11-09  0.0   2.5  0.8
1        서울특별시   용산구 2020-11-09  0.0   4.8  0.9
2        서울특별시   성동구 2020-11-09  0.0   4.7  0.5
3        서울특별시  동대문구 2020-11-09  0.0   4.7  0.5
4        서울특별시   성북구 2020-11-09  0.0   4.7  0.5
...        ...   ...        ...  ...   ...  ...
1606520  서울특별시   금천구 2021-08-31  5.0  18.8  2.1
1606521  서울특별시   동작구 2021-08-31  4.5  17.8  1.9
1606522  서울특별시   관악구 2021-08-31  4.5  17.8  1.9
1606523  서울특별시   서초구 2021-08-31  4.5  19.1  1.1
1606524  서울특별시   강남구 2021-08-31  3.5  18.8  1.6

[160674 rows x 6 columns]

In [14]:
# 인덱스 초기화
df_seoul.reset_index(drop=True, inplace=True)

In [15]:
df_seoul

         city    gu       date  pph  temp   ws
0       서울특별시    중구 2020-11-09  0.0   2.5  0.8
1       서울특별시   용산구 2020-11-09  0.0   4.8  0.9
2       서울특별시   성동구 2020-11-09  0.0   4.7  0.5
3       서울특별시  동대문구 2020-11-09  0.0   4.7  0.5
4       서울특별시   성북구 2020-11-09  0.0   4.7  0.5
...       ...   ...        ...  ...   ...  ...
160669  서울특별시   금천구 2021-08-31  5.0  18.8  2.1
160670  서울특별시   동작구 2021-08-31  4.5  17.8  1.9
160671  서울특별시   관악구 2021-08-31  4.5  17.8  1.9
160672  서울특별시   서초구 2021-08-31  4.5  19.1  1.1
160673  서울특별시   강남구 2021-08-31  3.5  18.8  1.6

[160674 rows x 6 columns]

In [16]:
# 필요없는 데이터 열 삭제
df_seoul.drop(['city'],axis=1,inplace=True)

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_11128\1226007288.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_seoul.drop(['city'],axis=1,inplace=True)

In [17]:
df_seoul

          gu       date  pph  temp   ws
0         중구 2020-11-09  0.0   2.5  0.8
1        용산구 2020-11-09  0.0   4.8  0.9
2        성동구 2020-11-09  0.0   4.7  0.5
3       동대문구 2020-11-09  0.0   4.7  0.5
4        성북구 2020-11-09  0.0   4.7  0.5
...      ...        ...  ...   ...  ...
160669   금천구 2021-08-31  5.0  18.8  2.1
160670   동작구 2021-08-31  4.5  17.8  1.9
160671   관악구 2021-08-31  4.5  17.8  1.9
160672   서초구 2021-08-31  4.5  19.1  1.1
160673   강남구 2021-08-31  3.5  18.8  1.6

[160674 rows x 5 columns]

In [18]:
# 데이터 타입 확인
df_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160674 entries, 0 to 160673
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   gu      160674 non-null  object
 1   date    160674 non-null  datetime64[ns]
 2   pph     160674 non-null  float64
 3   temp    160674 non-null  float64
 4   ws      160674 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 6.1+ MB

In [19]:
df_seoul.isnull().sum()

gu      0
date    0
pph     0
temp    0
ws      0
dtype: int64

In [20]:
# csv로 저장
df_seoul.to_csv("202009~ Order area weather information.csv")