In [1]:
# 필요한 모듈 불러오기
import pandas as pd
import numpy as np

In [2]:
# 데이터 파일 불러오기
df = pd.read_csv("./KGU_3rd_ORIGIN_KGUAREADOITEM_20210101000000.csv")

In [3]:
df

        ﻿2021-01-01  00  금요일    경기도     의정부시  배달전문업체
0        2021-01-01   0  금요일    경기도  고양시 덕양구      야식
1        2021-01-01   1  금요일    경기도     의정부시      한식
2        2021-01-01   0  금요일  울산광역시      울주군      한식
3        2021-01-01   0  금요일    경기도      부천시  돈까스/일식
4        2021-01-01   0  금요일    경기도     의정부시      피자
...             ...  ..  ...    ...      ...     ...
5999639  2021-06-30  23  수요일    경기도     남양주시      치킨
5999640  2021-06-30  23  수요일   충청남도  천안시 동남구  돈까스/일식
5999641  2021-06-30  23  수요일   경상북도      김천시  돈까스/일식
5999642  2021-06-30  23  수요일   경상북도      영천시  돈까스/일식
5999643  2021-06-30  23  수요일    경기도     동두천시      중식

[5999644 rows x 6 columns]

In [4]:
# 결측치 확인
df.isnull().sum()

﻿2021-01-01    0
00             0
금요일            0
경기도            0
의정부시           0
배달전문업체         0
dtype: int64

In [7]:
# 컬럼명 변경
df.rename(columns={'﻿2021-01-01':'년월일'}, inplace=True)
df.rename(columns={'00':'주문시간'}, inplace=True)
df.rename(columns={'경기도':'시도'},inplace=True)
df.rename(columns={'금요일':'요일'},inplace=True)
df.rename(columns={'의정부시':'시군구'},inplace=True)
df.rename(columns={'배달전문업체':'음식분류'},inplace=True)

In [8]:
df

                년월일  주문시간   요일     시도      시군구    음식분류
0        2021-01-01     0  금요일    경기도  고양시 덕양구      야식
1        2021-01-01     1  금요일    경기도     의정부시      한식
2        2021-01-01     0  금요일  울산광역시      울주군      한식
3        2021-01-01     0  금요일    경기도      부천시  돈까스/일식
4        2021-01-01     0  금요일    경기도     의정부시      피자
...             ...   ...  ...    ...      ...     ...
5999639  2021-06-30    23  수요일    경기도     남양주시      치킨
5999640  2021-06-30    23  수요일   충청남도  천안시 동남구  돈까스/일식
5999641  2021-06-30    23  수요일   경상북도      김천시  돈까스/일식
5999642  2021-06-30    23  수요일   경상북도      영천시  돈까스/일식
5999643  2021-06-30    23  수요일    경기도     동두천시      중식

[5999644 rows x 6 columns]

In [9]:
# 시도에서 서울특별시에 해당하는 데이터만 추출
df_seoul = df.loc[df['시도'].isin(['서울특별시'])]

In [10]:
# 인덱스 기준을 년월일로 수정
df_seoul.set_index('년월일', inplace=True)

In [11]:
df_seoul

            주문시간   요일     시도   시군구    음식분류
년월일
2021-01-01     0  금요일  서울특별시  영등포구      치킨
2021-01-01     1  금요일  서울특별시   구로구       회
2021-01-01     0  금요일  서울특별시   관악구      찜탕
2021-01-01     0  금요일  서울특별시   구로구      분식
2021-01-01     0  금요일  서울특별시   은평구  돈까스/일식
...          ...  ...    ...   ...     ...
2021-06-30    23  수요일  서울특별시   관악구  돈까스/일식
2021-06-30    23  수요일  서울특별시   강서구      야식
2021-06-30    23  수요일  서울특별시   은평구      치킨
2021-06-30    23  수요일  서울특별시   금천구      치킨
2021-06-30    23  수요일  서울특별시   관악구  돈까스/일식

[661289 rows x 5 columns]

In [12]:
df_seoul = df_seoul[df_seoul.음식분류 != '심부름']
df_seoul = df_seoul[df_seoul.음식분류 != '야식']
df_seoul = df_seoul[df_seoul.음식분류 != '배달전문업체']

In [13]:
df_seoul

            주문시간   요일     시도   시군구    음식분류
년월일
2021-01-01     0  금요일  서울특별시  영등포구      치킨
2021-01-01     1  금요일  서울특별시   구로구       회
2021-01-01     0  금요일  서울특별시   관악구      찜탕
2021-01-01     0  금요일  서울특별시   구로구      분식
2021-01-01     0  금요일  서울특별시   은평구  돈까스/일식
...          ...  ...    ...   ...     ...
2021-06-30    23  수요일  서울특별시   금천구  돈까스/일식
2021-06-30    23  수요일  서울특별시   관악구  돈까스/일식
2021-06-30    23  수요일  서울특별시   은평구      치킨
2021-06-30    23  수요일  서울특별시   금천구      치킨
2021-06-30    23  수요일  서울특별시   관악구  돈까스/일식

[628850 rows x 5 columns]

In [14]:
df_seoul.to_csv("202101~202106지역별요일별배달품목.csv")