# 1. 데이터 불러오기

In [1]:
# 필요한 모듈 가져오기
import pandas as pd

In [2]:
# csv 파일을 하나씩 데이터 프레임으로 변환
df1 = pd.read_csv('D:/학생방/박상춘/프로젝트/raw data/월별 행정동별 소비 데이터/delivery_서울특별시_202209.csv', encoding='CP949', low_memory=False)
df2 = pd.read_csv('D:/학생방/박상춘/프로젝트/raw data/월별 행정동별 소비 데이터/delivery_서울특별시_202210.csv', encoding='CP949', low_memory=False)
df3 = pd.read_csv('D:/학생방/박상춘/프로젝트/raw data/월별 행정동별 소비 데이터/delivery_서울특별시_202211.csv', encoding='CP949', low_memory=False)

In [3]:
# 데이터 프레임을 하나로 합치기
df = pd.concat([df1, df2, df3])

# 2. 데이터 확인 및 전처리

In [4]:
df.head()

,crym,admd_c,ana_mgpo_nm,ana_ccd_nm,admd_nm,dayofweek,time_interval,sl_am,sl_ct
0,202209,1111051500,서울특별시,종로구,청운효자동,Fri,0,45700.0,2
1,202209,1111051500,서울특별시,종로구,청운효자동,Fri,8,16900.0,1
2,202209,1111051500,서울특별시,종로구,청운효자동,Fri,9,35400.0,1
3,202209,1111051500,서울특별시,종로구,청운효자동,Fri,10,73100.0,4
4,202209,1111051500,서울특별시,종로구,청운효자동,Fri,11,92400.0,4

In [5]:
# 인덱스 리셋
df.set_index([pd.Index(range(0,127999))], inplace=True)

In [6]:
# 필요없는 컬럼 제거
df.drop(['admd_c'], axis=1, inplace=True)

In [7]:
# 컬럼명 바꾸기
df.rename({'crym':'date', 'ana_mgpo_nm':'city', 'ana_ccd_nm':'gu', 'admd_nm':'dong', 'sl_am':'usage_amount', 'sl_ct':'usage_count'}, axis=1, inplace=True)

In [8]:
# 메모리 용량 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127999 entries, 0 to 127998
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date           127999 non-null  int64
 1   city           127999 non-null  object
 2   gu             127999 non-null  object
 3   dong           127999 non-null  object
 4   dayofweek      127999 non-null  object
 5   time_interval  127999 non-null  int64
 6   usage_amount   127999 non-null  float64
 7   usage_count    127999 non-null  int64
dtypes: float64(1), int64(3), object(4)
memory usage: 7.8+ MB

In [9]:
# 데이터 타입 확인
df.dtypes

date               int64
city              object
gu                object
dong              object
dayofweek         object
time_interval      int64
usage_amount     float64
usage_count        int64
dtype: object

In [10]:
# 타임 인터벌을 카테고리 형태로 바꾸기
df['time_interval'] = df['time_interval'].astype('category')

In [11]:
# 결측치 확인
df.isnull().sum()

date             0
city             0
gu               0
dong             0
dayofweek        0
time_interval    0
usage_amount     0
usage_count      0
dtype: int64

# 3. csv 파일로 변환

In [12]:
df.to_csv('montly_dong_spent.csv')