# 1. 데이터 불러오기

In [1]:
# 필요한 모듈 가져오기
import pandas as pd

In [2]:
# csv 파일을 하나씩 데이터 프레임으로 변환
df1 = pd.read_csv('D:/박상춘/프로젝트/raw data/월별 행정동별 소비 데이터/delivery_서울특별시_202209.csv', encoding='CP949', low_memory=False)
df2 = pd.read_csv('D:/박상춘/프로젝트/raw data/월별 행정동별 소비 데이터/delivery_서울특별시_202210.csv', encoding='CP949', low_memory=False)
df3 = pd.read_csv('D:/박상춘/프로젝트/raw data/월별 행정동별 소비 데이터/delivery_서울특별시_202211.csv', encoding='CP949', low_memory=False)

In [13]:
# 데이터 프레임을 하나로 합치기
df = pd.concat([df1, df2, df3])

# 2. 데이터 확인 및 전처리

In [14]:
df.head()

,crym,admd_c,ana_mgpo_nm,ana_ccd_nm,admd_nm,dayofweek,time_interval,sl_am,sl_ct
0,202209,1111051500,서울특별시,종로구,청운효자동,Fri,0,45700.0,2
1,202209,1111051500,서울특별시,종로구,청운효자동,Fri,8,16900.0,1
2,202209,1111051500,서울특별시,종로구,청운효자동,Fri,9,35400.0,1
3,202209,1111051500,서울특별시,종로구,청운효자동,Fri,10,73100.0,4
4,202209,1111051500,서울특별시,종로구,청운효자동,Fri,11,92400.0,4

In [15]:
# 인덱스 리셋
df.set_index([pd.Index(range(0,127999))], inplace=True)

In [16]:
# 필요없는 컬럼 제거
df.drop(['admd_c', 'ana_mgpo_nm'], axis=1, inplace=True)

In [17]:
# 컬럼명 바꾸기
df.rename({'crym':'date', 'ana_ccd_nm':'gu', 'admd_nm':'dong', 'dayofweek':'days', 'time_interval':'time_int', 'sl_am':'order_amt', 'sl_ct':'order_cnt'}, axis=1, inplace=True)

In [18]:
# 메모리 용량 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127999 entries, 0 to 127998
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       127999 non-null  int64
 1   gu         127999 non-null  object
 2   dong       127999 non-null  object
 3   days       127999 non-null  object
 4   time_int   127999 non-null  int64
 5   order_amt  127999 non-null  float64
 6   order_cnt  127999 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 6.8+ MB

In [19]:
# 데이터 타입 확인
df.dtypes

date           int64
gu            object
dong          object
days          object
time_int       int64
order_amt    float64
order_cnt      int64
dtype: object

In [20]:
# 타임 인터벌을 카테고리 형태로 바꾸기
df['time_int'] = df['time_int'].astype('category')

In [21]:
# 결측치 확인
df.isnull().sum()

date         0
gu           0
dong         0
days         0
time_int     0
order_amt    0
order_cnt    0
dtype: int64

# 3. csv 파일로 변환

In [22]:
df.to_csv('monthly_dong_order.csv')