In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("order_food202007202012.csv")

In [4]:
df

        Unnamed: 0        date  time_int days   광명시 food
0                0  2020-07-01         0  수요일  영등포구   치킨
1                1  2020-07-01         1  수요일  영등포구   치킨
2                2  2020-07-01         1  수요일  영등포구   치킨
3                3  2020-07-01         0  수요일   금천구   치킨
4                4  2020-07-01         1  수요일  영등포구   치킨
...            ...         ...       ...  ...   ...  ...
855947      855947  2020-12-31        23  목요일   구로구   피자
855948      855948  2020-12-31        23  목요일   구로구   치킨
855949      855949  2020-12-31        23  목요일   구로구   치킨
855950      855950  2020-12-31        23  목요일   구로구   치킨
855951      855951  2020-12-31        23  목요일   구로구   피자

[855952 rows x 6 columns]

In [5]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [6]:
df

              date  time_int days   광명시 food
0       2020-07-01         0  수요일  영등포구   치킨
1       2020-07-01         1  수요일  영등포구   치킨
2       2020-07-01         1  수요일  영등포구   치킨
3       2020-07-01         0  수요일   금천구   치킨
4       2020-07-01         1  수요일  영등포구   치킨
...            ...       ...  ...   ...  ...
855947  2020-12-31        23  목요일   구로구   피자
855948  2020-12-31        23  목요일   구로구   치킨
855949  2020-12-31        23  목요일   구로구   치킨
855950  2020-12-31        23  목요일   구로구   치킨
855951  2020-12-31        23  목요일   구로구   피자

[855952 rows x 5 columns]

In [7]:
df = df.loc[df.food !='심부름']
df = df.loc[df.food !='배달전문업체']

In [8]:
# csv로 저장
df.to_csv("order_food202007202012.csv")