In [1]:
# 모듈임포트
import pandas as pd

In [2]:
# 데이터 불러오기
df1= pd.read_csv("./201907_201909지역별요일별배달품목.csv")

df2= pd.read_csv("./202001_202006지역별요일별배달품목.csv")

df3= pd.read_csv("./202007_202012지역별요일별배달품목.csv")

df4= pd.read_csv("./202101_202106지역별요일별배달품목.csv")

df5= pd.read_csv("./202107_202112지역별요일별배달품목.csv")

In [3]:
total = pd.concat([df1,df2,df3,df4,df5])

In [4]:
total

        Unnamed: 0        date  time_int days    gu    food  광명시
0                0  2019-07-31         0  수요일  영등포구      치킨  NaN
1                1  2019-07-31         0  수요일   은평구   족발/보쌈  NaN
2                2  2019-07-31         0  수요일   구로구   패스트푸드  NaN
3                3  2019-07-31         0  수요일   금천구      한식  NaN
4                4  2019-07-31         0  수요일  영등포구      피자  NaN
...            ...         ...       ...  ...   ...     ...  ...
366160      366160  2021-12-31        23  금요일   구로구      야식  NaN
366161      366161  2021-12-31        23  금요일   구로구      야식  NaN
366162      366162  2021-12-31        23  금요일   강서구      한식  NaN
366163      366163  2021-12-31        23  금요일   강서구      야식  NaN
366164      366164  2021-12-31        23  금요일   금천구  돈까스/일식  NaN

[3616643 rows x 7 columns]

In [5]:
# 데이터 타입 확인
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3616643 entries, 0 to 366164
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   date        object
 2   time_int    int64
 3   days        object
 4   gu          object
 5   food        object
 6   광명시         object
dtypes: int64(2), object(5)
memory usage: 220.7+ MB

In [6]:
# 날짜 데이터를 datetime형식으로 변환
total['date'] = pd.to_datetime(total['date'])

In [7]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3616643 entries, 0 to 366164
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   date        datetime64[ns]
 2   time_int    int64
 3   days        object
 4   gu          object
 5   food        object
 6   광명시         object
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 220.7+ MB

In [8]:
# 필요없는 데이터 행 삭제
total.drop('광명시', axis =1, inplace=True)
total.drop('Unnamed: 0', axis=1,inplace=True)

In [9]:
total

             date  time_int days    gu    food
0      2019-07-31         0  수요일  영등포구      치킨
1      2019-07-31         0  수요일   은평구   족발/보쌈
2      2019-07-31         0  수요일   구로구   패스트푸드
3      2019-07-31         0  수요일   금천구      한식
4      2019-07-31         0  수요일  영등포구      피자
...           ...       ...  ...   ...     ...
366160 2021-12-31        23  금요일   구로구      야식
366161 2021-12-31        23  금요일   구로구      야식
366162 2021-12-31        23  금요일   강서구      한식
366163 2021-12-31        23  금요일   강서구      야식
366164 2021-12-31        23  금요일   금천구  돈까스/일식

[3616643 rows x 5 columns]

In [10]:
# 결측치 확인
total.isnull().sum()

date             0
time_int         0
days             0
gu          855952
food             0
dtype: int64

In [11]:
# 특정컬럼 결측치제거후 적용
total.dropna(subset=['gu'])
total.dropna(inplace=True)

In [12]:
total.isnull().sum()

date        0
time_int    0
days        0
gu          0
food        0
dtype: int64

In [13]:
total.to_csv("201907~202112 지역요일별배달품목.csv")