# 1. 데이터 불러오기

In [1]:
# 필요한 모듈 가져오기
import pandas as pd

In [2]:
# csv 파일들을 데이터프레임으로 변환
df1 = pd.read_csv('D:/박상춘/프로젝트/raw data/배달음식서비스 소비 트렌드/mk_datus_db_dv_tr_2019.csv', encoding='cp949')
df2 = pd.read_csv('D:/박상춘/프로젝트/raw data/배달음식서비스 소비 트렌드/mk_datus_db_dv_tr_2020.csv', encoding='cp949')
df3 = pd.read_csv('D:/박상춘/프로젝트/raw data/배달음식서비스 소비 트렌드/mk_datus_db_dv_tr_2021.csv', encoding='cp949')
df4 = pd.read_csv('D:/박상춘/프로젝트/raw data/배달음식서비스 소비 트렌드/mk_datus_db_dv_tr_2022.csv', encoding='cp949')

In [3]:
# 데이터 프레임을 하나로 합치기
df = pd.concat([df1, df2, df3, df4])

# 2. 데이터 확인 및 전처리

In [4]:
df

       prtym tco_c_new mega_nm ma_fem_dc1 ana_agegrp_dc      sl_am  sl_ct
0     201901  Delivery      서울          남           20대  100676078   4702
1     201901  Delivery      서울          남           30대  340178597  14885
2     201901  Delivery      서울          남           40대  200274889   8715
3     201901  Delivery      서울          남           50대   66215884   2991
4     201901  Delivery      서울          남         60대이상   14937982    645
...      ...       ...     ...        ...           ...        ...    ...
2035  202212  Delivery      제주          여           20대   63868037   2548
2036  202212  Delivery      제주          여           30대  180235625   6736
2037  202212  Delivery      제주          여           40대  289021149  10552
2038  202212  Delivery      제주          여           50대   92394732   3357
2039  202212  Delivery      제주          여         60대이상   14066006    564

[8158 rows x 7 columns]

In [5]:
df['mega_nm'].unique()

array(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북',
       '충남', '전북', '전남', '경북', '경남', '제주'], dtype=object)

In [6]:
# 서울시 데이터만 추출
df = df[df['mega_nm'] == '서울']

In [7]:
# 필요없는 컬럼 제거
df.drop(['tco_c_new', 'mega_nm'], axis=1, inplace=True)

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_10880\1084131866.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['tco_c_new', 'mega_nm'], axis=1, inplace=True)

In [8]:
# 컬럼명 바꾸기
df.rename({'prtym':'date', 'ma_fem_dc1':'sex', 'ana_agegrp_dc':'age_group', 'sl_am':'order_amt', 'sl_ct':'order_cnt'}, axis=1, inplace=True)

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_10880\3221223580.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename({'prtym':'date', 'ma_fem_dc1':'sex', 'ana_agegrp_dc':'age_group', 'sl_am':'order_amt', 'sl_ct':'order_cnt'}, axis=1, inplace=True)

In [9]:
# 데이터 타입 확인
df.dtypes

date          int64
sex          object
age_group    object
order_amt     int64
order_cnt     int64
dtype: object

In [10]:
# 성별 및 연령대 컬럼을 카테고리 타입으로 변경
df['sex'] = df['sex'].astype('category')
df['age_group'] = df['age_group'].astype('category')

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_10880\2842772252.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sex'] = df['sex'].astype('category')
C:\Users\tjoeun\AppData\Local\Temp\ipykernel_10880\2842772252.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age_group'] = df['age_group'].astype('category')

In [11]:
# 결측치 확인
df.isnull().sum()

date         0
sex          0
age_group    0
order_amt    0
order_cnt    0
dtype: int64

In [12]:
# 인덱스 리셋
df.set_index([pd.Index(range(0,480))], inplace=True)

# 3. 데이터 프레임을 CSV 파일로 변환

In [13]:
df.to_csv('order_trend.csv')