In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("201901~201912 Order area weather information.csv")
df2 = pd.read_csv("202009~ Order area weather information.csv")

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_15996\2418644368.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("201901~201912 Order area weather information.csv")

In [4]:
df0 = pd.concat([df1,df2])

In [5]:
df0

        Unnamed: 0   gu        date  pph  temp   ws
0                0  강남구  2019-01-01  0.0  -2.6  0.9
1                1  강동구  2019-01-01  0.0  -4.3  0.9
2                2  강북구  2019-01-01  0.0  -5.5  1.2
3                3  강서구  2019-01-01  0.0  -3.4  1.2
4                4  관악구  2019-01-01  0.0  -5.6    1
...            ...  ...         ...  ...   ...  ...
160670      160670  금천구  2021-08-31  5.0  18.8  2.1
160671      160671  동작구  2021-08-31  4.5  17.8  1.9
160672      160672  관악구  2021-08-31  4.5  17.8  1.9
160673      160673  서초구  2021-08-31  4.5  19.1  1.1
160674      160674  강남구  2021-08-31  3.5  18.8  1.6

[562675 rows x 6 columns]

In [6]:
df0.drop(['Unnamed: 0'],axis=1,inplace=True)

In [7]:
df0

         gu        date  pph  temp   ws
0       강남구  2019-01-01  0.0  -2.6  0.9
1       강동구  2019-01-01  0.0  -4.3  0.9
2       강북구  2019-01-01  0.0  -5.5  1.2
3       강서구  2019-01-01  0.0  -3.4  1.2
4       관악구  2019-01-01  0.0  -5.6    1
...     ...         ...  ...   ...  ...
160670  금천구  2021-08-31  5.0  18.8  2.1
160671  동작구  2021-08-31  4.5  17.8  1.9
160672  관악구  2021-08-31  4.5  17.8  1.9
160673  서초구  2021-08-31  4.5  19.1  1.1
160674  강남구  2021-08-31  3.5  18.8  1.6

[562675 rows x 5 columns]

In [8]:
df0.isnull().sum()

gu      0
date    0
pph     0
temp    0
ws      0
dtype: int64

In [9]:
# csv로 저장
df0.to_csv("Order_area_weather_information.csv")