# 1. 데이터 불러오기

In [1]:
# 필요한 모듈 가져오기
import pandas as pd
import requests
from urllib.parse import quote
from tqdm import tqdm

In [2]:
# 엑셀파일을 데이터프레임으로 변환
df = pd.read_excel("C:/Kcoding/팀프로젝트 데이터/내가 담당한것/place_location/07_24_04_P_일반음식점.xlsx", engine='openpyxl')

c:\Program Files\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

# 2. 데이터 확인 및 전처리

In [3]:
df.head()

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장판매직직원수,공장생산직직원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
0,396,일반음식점,07_24_04_P,3000000,3000000-101-2023-00038,2023-02-07,NaN,1,영업/정상,1,...,0,0,NaN,0,0,Y,172.90,NaN,NaN,NaN
1,3707,일반음식점,07_24_04_P,3080000,3080000-101-2023-00026,2023-02-07,NaN,1,영업/정상,1,...,0,0,NaN,0,0,N,493.74,NaN,NaN,NaN
2,3910,일반음식점,07_24_04_P,3090000,3090000-101-2023-00020,2023-02-07,NaN,1,영업/정상,1,...,0,0,NaN,0,0,N,83.00,NaN,NaN,NaN
3,3025,일반음식점,07_24_04_P,3060000,3060000-101-2023-00025,2023-02-07,NaN,1,영업/정상,1,...,0,0,NaN,0,0,N,113.08,NaN,NaN,NaN
4,3026,일반음식점,07_24_04_P,3060000,3060000-101-2023-00024,2023-02-07,NaN,1,영업/정상,1,...,0,0,NaN,0,0,N,49.58,NaN,NaN,NaN

In [4]:
# 컬럼 확인
df.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총직원수',
       '본사직원수', '공장사무직직원수', '공장판매직직원수', '공장생산직직원수', '건물소유구분명', '보증액', '월세액',
       '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지'],
      dtype='object')

In [5]:
# 불필요한 컬럼 제거
df.drop(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
         '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '공장판매직직원수', '공장생산직직원수', '건물소유구분명', '보증액', '월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지',
         '소재지전체주소', '도로명우편번호', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총직원수', '본사직원수', '공장사무직직원수', '위생업태명'],
         axis=1, inplace=True)

In [6]:
# 컬럼 이름명 바꾸기
df.rename({'도로명전체주소':'addr', '사업장명':'place_name', '업태구분명':'food', '좌표정보(X)':'lat', '좌표정보(Y)':'lng'}, axis=1, inplace=True)

In [7]:
df.head()

,addr,place_name,food,lat,lng
0,"서울특별시 종로구 경희궁길 36, 지하1층 204호 (신문로2가)",커먼맨션,경양식,197287.415745,452294.360874
1,"서울특별시 강북구 4.19로 55, 1,2층 (수유동)",귀한돌짜장 매운갈비찜,한식,200682.917084,460435.453596
2,"서울특별시 도봉구 도봉로 493-4, 1층 (쌍문동)",할배골,한식,203012.670169,460828.952571
3,"서울특별시 중랑구 용마산로118길 67, 1층 (망우동)",망우로스팅랩,기타,209147.166204,455438.575009
4,"서울특별시 중랑구 양원역로 82, 101호 (망우동)",본죽&비빔밥 서울양원역점,기타,209279.447244,456130.266637

In [8]:
# 컬럼별 데이터 타입 확인
df.dtypes

addr           object
place_name     object
food           object
lat           float64
lng           float64
dtype: object

In [9]:
# 결측치 확인
df.isnull().sum()

addr            8
place_name      0
food            0
lat           128
lng           128
dtype: int64

In [10]:
# 결측치 제거
df = df.dropna()
df.isnull().sum()

addr          0
place_name    0
food          0
lat           0
lng           0
dtype: int64

In [11]:
# 기존 위도, 경도 컬럼 삭제
df.drop(['lat'], axis=1, inplace=True)
df.drop(['lng'], axis=1, inplace=True)

In [12]:
# 카카오 API 사용을 위한 주소 세부정보 삭제한 값을 addr_list 변수에 저장
addr_list = []
for i in df['addr']:
    addr = i.split(',')[0]
    addr_list.append(addr)

In [13]:
# 기존 addr 컬럼을 삭제 후 새로운 address 컬럼에 addr_list 변수 데이터 삽입
df.drop(['addr'], axis=1, inplace=True)
df['address'] = addr_list

In [14]:
# 결과물 확인
df

          place_name food                address
0               커먼맨션  경양식      서울특별시 종로구 경희궁길 36
1        귀한돌짜장 매운갈비찜   한식     서울특별시 강북구 4.19로 55
2                할배골   한식    서울특별시 도봉구 도봉로 493-4
3             망우로스팅랩   기타  서울특별시 중랑구 용마산로118길 67
4      본죽&비빔밥 서울양원역점   기타      서울특별시 중랑구 양원역로 82
...              ...  ...                    ...
12240       청년어부 삼전점   일식    서울특별시 송파구 백제고분로 198
12241  진전복 삼계탕 잠실직영점   한식  서울특별시 송파구 올림픽로35가길 10
12242    알이랑 고기랑 석촌점   한식   서울특별시 송파구 백제고분로40길 5
12243           남도에서   한식    서울특별시 강동구 동남로81길 58
12244        호산나 떡볶이   분식   서울특별시 송파구 송파대로36가길 5

[12110 rows x 3 columns]

In [15]:
# 카카오 API KEY 불러오기
with open('C:/Kcoding/KakaoAPI.txt', "r") as f:
    api_key = f.read()

In [17]:
# 위도, 경도 값을 받아온뒤 각 리스트에 저장
# 값을 찾을수 없을때, 해당 주소를 출력하고 None값이 입력되게끔 세팅
lat_list, lng_list = [], []

for i in tqdm(df['address']):
    addr = f'{(i)}'
    quote(addr)
    search_url = "https://dapi.kakao.com/v2/local/search/address.json"
    url = f'{search_url}?query={quote(addr)}'
    result = requests.get(url, headers = {'Authorization': f'KakaoAK {api_key}'}).json()
    if not result['documents']:
        print(f"No result found for {addr}")
        lat_list.append(None)
        lng_list.append(None)
    else:
        lng = float(result['documents'][0]['x'])
        lat = float(result['documents'][0]['y'])
        lat_list.append(lat)
        lng_list.append(lng)

 59%|█████▉    | 7118/12110 [21:06<13:17,  6.26it/s]

No result found for 서울특별시 영등포구 가마산로79길 46

100%|██████████| 12110/12110 [36:10<00:00,  5.58it/s]

In [18]:
# 데이터프레임에 위도, 경도 값 추가
df['lat'] = lat_list
df['lng'] = lng_list

In [19]:
# None 값으로 입력된 데이터 확인
df[df['lat'].isnull()]

     place_name food                address  lat  lng
7152       홍성한우   한식  서울특별시 영등포구 가마산로79길 46  NaN  NaN

In [20]:
# None 값 데이터 삭제
df.dropna(axis=0, inplace=True)
df[df['lat'].isnull()]

Empty DataFrame
Columns: [place_name, food, address, lat, lng]
Index: []

In [21]:
# 임시 데이터 저장
df.to_csv('place_location_temporary.csv', index=False, encoding='utf-8-sig')

In [22]:
# 임시 데이터 불러오기
df = pd.read_csv("C:/Kcoding/SALES_Project/kitae/data_preprocessing/place_location_temporary.csv")
df

          place_name food                address        lat         lng
0               커먼맨션  경양식      서울특별시 종로구 경희궁길 36  37.572920  126.970063
1        귀한돌짜장 매운갈비찜   한식     서울특별시 강북구 4.19로 55  37.646420  127.008572
2                할배골   한식    서울특별시 도봉구 도봉로 493-4  37.649833  127.034923
3             망우로스팅랩   기타  서울특별시 중랑구 용마산로118길 67  37.601238  127.104370
4      본죽&비빔밥 서울양원역점   기타      서울특별시 중랑구 양원역로 82  37.607469  127.105874
...              ...  ...                    ...        ...         ...
12104       청년어부 삼전점   일식    서울특별시 송파구 백제고분로 198  37.503938  127.088562
12105  진전복 삼계탕 잠실직영점   한식  서울특별시 송파구 올림픽로35가길 10  37.516940  127.102633
12106    알이랑 고기랑 석촌점   한식   서울특별시 송파구 백제고분로40길 5  37.504004  127.106207
12107           남도에서   한식    서울특별시 강동구 동남로81길 58  37.559617  127.153701
12108        호산나 떡볶이   분식   서울특별시 송파구 송파대로36가길 5  37.500824  127.114818

[12109 rows x 5 columns]

In [23]:
# 업종명 종류 확인
df['food'].unique()

array(['경양식', '한식', '기타', '일식', '중국식', '분식', '뷔페식', '호프/통닭', '감성주점',
       '외국음식전문점(인도,태국등)', '출장조리', '복어취급', '패밀리레스트랑', '정종/대포집/소주방',
       '식육(숯불구이)', '횟집', '냉면집', '탕류(보신용)', '라이브카페', '김밥(도시락)', '키즈카페'],
      dtype=object)

In [24]:
# 업종별 개수 확인
len(df.loc[df['food'] == '키즈카페'])

2

In [25]:
# 업종별 데이터 확인
df.loc[df['food'] == '경양식']

            place_name food               address        lat         lng
0                 커먼맨션  경양식     서울특별시 종로구 경희궁길 36  37.572920  126.970063
18             테이스트메이드  경양식    서울특별시 종로구 필운대로1길 8  37.577471  126.968960
23           스푼앤포크 타파스  경양식  서울특별시 도봉구 삼양로154길 11  37.655630  127.013892
37     미니무드(mini mood)  경양식  서울특별시 용산구 후암로28마길 17  37.549988  126.980381
39             다이닝룸 뒨뉘  경양식      서울특별시 종로구 율곡로 82  37.577176  126.988167
...                ...  ...                   ...        ...         ...
12049            피카 청담  경양식   서울특별시 강남구 학동로88길 12  37.518353  127.052660
12073        애니오케이션 카페  경양식  서울특별시 강남구 도산대로51길 14  37.524057  127.038075
12076    유어네이키드치즈 압구정점  경양식    서울특별시 강남구 압구정로 343  37.528475  127.040053
12092       스피카(SPICA)  경양식  서울특별시 강남구 도산대로37길 20  37.522278  127.031488
12093             청담니은  경양식  서울특별시 강남구 도산대로72길 33  37.522158  127.045738

[1090 rows x 5 columns]

In [26]:
# 업종명 변경
df.replace('호프/통닭', '치킨', inplace=True)
df.replace('중국식', '중식', inplace=True)
df.replace('김밥(도시락)', '김밥전문점', inplace=True)
df.replace('키즈카페', '카페/디저트', inplace=True)
df.replace('횟집', '회', inplace=True)
df.replace('식육(숯불구이)', '육류/고기', inplace=True)
df.replace('냉면집', '냉면전문점', inplace=True)
df.replace('복어취급', '한식', inplace=True)

# 가게명을 바탕으로 업종명 변경
df.loc[df['place_name'].str.contains('치킨'), 'food'] = '치킨'
df.loc[df['place_name'].str.contains('족발'), 'food'] = '족발/보쌈'
df.loc[df['place_name'].str.contains('사이공'), 'food'] = '베트남음식점'
df.loc[df['place_name'].str.contains('카페'), 'food'] = '카페/디저트'
df.loc[df['place_name'].str.contains('본죽'), 'food'] = '죽'
df.loc[df['place_name'].str.contains('아이스크림'), 'food'] = '카페/디저트'
df.loc[df['place_name'].str.contains('커피'), 'food'] = '카페/디저트'
df.loc[df['place_name'].str.contains('디저트'), 'food'] = '카페/디저트'
df.loc[df['place_name'].str.contains('김밥'), 'food'] = '김밥전문점'
df.loc[df['place_name'].str.contains('베트남'), 'food'] = '베트남음식점'
df.loc[df['place_name'].str.contains('퍼'), 'food'] = '베트남음식점'
df.loc[df['place_name'].str.contains('버거'), 'food'] = '패스트푸드'
df.loc[df['place_name'].str.contains('튀김'), 'food'] = '분식'
df.loc[df['place_name'].str.contains('떡볶이'), 'food'] = '분식'
df.loc[df['place_name'].str.contains('쌀국수'), 'food'] = '베트남음식점'
df.loc[df['place_name'].str.contains('피자'), 'food'] = '피자'
df.loc[df['place_name'].str.contains('통닭'), 'food'] = '치킨'
df.loc[df['place_name'].str.contains('투썸플'), 'food'] = '카페/디저트'
df.loc[df['place_name'].str.contains('스타벅스'), 'food'] = '카페/디저트'
df.loc[df['place_name'].str.contains('이디야'), 'food'] = '카페/디저트'
df.loc[df['place_name'].str.contains('감자탕'), 'food'] = '한식'
df.loc[df['place_name'].str.contains('스시'), 'food'] = '일식'
df.loc[df['place_name'].str.contains('마라탕'), 'food'] = '중식'
df.loc[df['place_name'].str.contains('정육'), 'food'] = '육류/고기'
df.loc[df['place_name'].str.contains('숯불'), 'food'] = '육류/고기'
df.loc[df['place_name'].str.contains('곱창'), 'food'] = '육류/고기'
df.loc[df['place_name'].str.contains('지코바'), 'food'] = '치킨'
df.loc[df['place_name'].str.contains('횟집'), 'food'] = '회'

In [27]:
# 변경된 업종명 확인
df['food'].unique()

array(['경양식', '한식', '기타', '죽', '일식', '중식', '카페/디저트', '피자', '분식', '베트남음식점',
       '뷔페식', '패스트푸드', '치킨', '감성주점', '김밥전문점', '육류/고기', '족발/보쌈',
       '외국음식전문점(인도,태국등)', '출장조리', '정종/대포집/소주방', '패밀리레스트랑', '회', '냉면전문점',
       '탕류(보신용)', '라이브카페'], dtype=object)

In [28]:
# 배달이 아닌 업종 제외하여 result 변수에 저장
result = df.loc[(df['food'] != '정종/대포집/소주방') & 
                (df['food'] != '뷔페식') & 
                (df['food'] != '감성주점') &
                (df['food'] != '출장조리') & 
                (df['food'] != '패밀리레스트랑') & 
                (df['food'] != '탕류(보신용)') & 
                (df['food'] != '라이브카페')]

In [29]:
# 변경된 업종 최종 확인
result['food'].unique()

array(['경양식', '한식', '기타', '죽', '일식', '중식', '카페/디저트', '피자', '분식', '베트남음식점',
       '패스트푸드', '치킨', '김밥전문점', '육류/고기', '족발/보쌈', '외국음식전문점(인도,태국등)', '회',
       '냉면전문점'], dtype=object)

In [31]:
# 인덱스 리셋
result.set_index([pd.Index(range(0, 11910))], inplace=True)

In [32]:
result

          place_name food                address        lat         lng
0               커먼맨션  경양식      서울특별시 종로구 경희궁길 36  37.572920  126.970063
1        귀한돌짜장 매운갈비찜   한식     서울특별시 강북구 4.19로 55  37.646420  127.008572
2                할배골   한식    서울특별시 도봉구 도봉로 493-4  37.649833  127.034923
3             망우로스팅랩   기타  서울특별시 중랑구 용마산로118길 67  37.601238  127.104370
4      본죽&비빔밥 서울양원역점    죽      서울특별시 중랑구 양원역로 82  37.607469  127.105874
...              ...  ...                    ...        ...         ...
11905       청년어부 삼전점   일식    서울특별시 송파구 백제고분로 198  37.503938  127.088562
11906  진전복 삼계탕 잠실직영점   한식  서울특별시 송파구 올림픽로35가길 10  37.516940  127.102633
11907    알이랑 고기랑 석촌점   한식   서울특별시 송파구 백제고분로40길 5  37.504004  127.106207
11908           남도에서   한식    서울특별시 강동구 동남로81길 58  37.559617  127.153701
11909        호산나 떡볶이   분식   서울특별시 송파구 송파대로36가길 5  37.500824  127.114818

[11910 rows x 5 columns]

In [33]:
# 데이터 용량 확인
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11910 entries, 0 to 11909
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   place_name  11910 non-null  object
 1   food        11910 non-null  object
 2   address     11910 non-null  object
 3   lat         11910 non-null  float64
 4   lng         11910 non-null  float64
dtypes: float64(2), object(3)
memory usage: 465.4+ KB

# 3. 데이터 프레임을 CSV 파일로 변환

In [34]:
result.to_csv('place_location.csv', index=False, encoding='utf-8-sig')