In [1]:
import pandas as pd

In [2]:
df_rc = pd.read_csv("C:/Kcoding/SALES_Project/kitae/data_analysis/rating_crawling.csv")
df_pl = pd.read_csv("C:/Kcoding/SALES_Project/kitae/data_preprocessing/csv/place_location.csv")

In [3]:
df_rc

,Unnamed: 0,gu,address,food,name,rating,lat,lng
0,0,강북구,서울 강북구 도봉로 142 1층,치킨,교촌치킨 미아역점,4.30,37.621540,127.028379
1,1,종로구,서울 종로구 백석동길 7,치킨,계열사,4.34,37.592876,126.965603
2,2,종로구,"서울 종로구 사직로8길 21-1 1, 2층",치킨,효도치킨 광화문점,4.38,37.574636,126.971059
3,3,용산구,서울 용산구 신흥로3길 2,피자,보니스피자펍,4.47,37.541190,126.986935
4,4,중구,서울 중구 을지로13길 19,야식,만선호프 노가리체인본점,4.27,37.567253,126.991781
...,...,...,...,...,...,...,...,...
9093,9093,강서구,서울 강서구 마곡서로 158 마곡센트럴타워2 1층 115호 긴자료코,돈까스/일식,긴자료코 마곡점,4.44,37.568089,126.825424
9094,9094,강서구,서울 강서구 마곡서로 170 103호,돈까스/일식,파파노다이닝마곡점,4.40,37.569304,126.825593
9095,9095,강서구,"서울 강서구 마곡중앙5로 81 2층 205호,206호,207호",찜탕,꽃마름 신방화점,4.31,37.567117,126.818597
9096,9096,강서구,서울 강서구 마곡중앙6로 63 마곡테크노타워 109호,돈까스/일식,토리아에즈,4.37,37.560463,126.834394
9097,9097,양천구,서울 양천구 목동서로 170 홈플러스 1층 최우영스시 목동점,돈까스/일식,최우영스시 목동점,4.39,37.530245,126.873300

In [4]:
df_pl

,place_name,food,address,dong,gu,lat,lng
0,커먼맨션,아시안/양식,서울특별시 종로구 경희궁길 36,사직동,종로구,37.572920,126.970063
1,귀한돌짜장 매운갈비찜,찜탕,서울특별시 강북구 4.19로 55,우이동,강북구,37.646420,127.008572
2,할배골,한식,서울특별시 도봉구 도봉로 493-4,쌍문3동,도봉구,37.649833,127.034923
3,본죽&비빔밥 서울양원역점,한식,서울특별시 중랑구 양원역로 82,망우본동,중랑구,37.607469,127.105874
4,육회먹은 꼬막,회,서울특별시 성북구 돌곶이로18길 29,석관동,성북구,37.609565,127.060586
...,...,...,...,...,...,...,...
9456,청년어부 삼전점,돈까스/일식,서울특별시 송파구 백제고분로 198,삼전동,송파구,37.503938,127.088562
9457,진전복 삼계탕 잠실직영점,찜탕,서울특별시 송파구 올림픽로35가길 10,잠실6동,송파구,37.516940,127.102633
9458,알이랑 고기랑 석촌점,한식,서울특별시 송파구 백제고분로40길 5,석촌동,송파구,37.504004,127.106207
9459,남도에서,한식,서울특별시 강동구 동남로81길 58,고덕1동,강동구,37.559617,127.153701
9460,호산나 떡볶이,분식,서울특별시 송파구 송파대로36가길 5,송파2동,송파구,37.500824,127.114818

In [5]:
df_rc.drop(columns={'Unnamed: 0', 'rating'}, axis=1, inplace=True)
df_rc = df_rc[['name', 'food', 'address', 'gu', 'lat', 'lng']]
df_rc = df_rc.rename(columns={'name':'place_name'})
df_rc

,place_name,food,address,gu,lat,lng
0,교촌치킨 미아역점,치킨,서울 강북구 도봉로 142 1층,강북구,37.621540,127.028379
1,계열사,치킨,서울 종로구 백석동길 7,종로구,37.592876,126.965603
2,효도치킨 광화문점,치킨,"서울 종로구 사직로8길 21-1 1, 2층",종로구,37.574636,126.971059
3,보니스피자펍,피자,서울 용산구 신흥로3길 2,용산구,37.541190,126.986935
4,만선호프 노가리체인본점,야식,서울 중구 을지로13길 19,중구,37.567253,126.991781
...,...,...,...,...,...,...
9093,긴자료코 마곡점,돈까스/일식,서울 강서구 마곡서로 158 마곡센트럴타워2 1층 115호 긴자료코,강서구,37.568089,126.825424
9094,파파노다이닝마곡점,돈까스/일식,서울 강서구 마곡서로 170 103호,강서구,37.569304,126.825593
9095,꽃마름 신방화점,찜탕,"서울 강서구 마곡중앙5로 81 2층 205호,206호,207호",강서구,37.567117,126.818597
9096,토리아에즈,돈까스/일식,서울 강서구 마곡중앙6로 63 마곡테크노타워 109호,강서구,37.560463,126.834394
9097,최우영스시 목동점,돈까스/일식,서울 양천구 목동서로 170 홈플러스 1층 최우영스시 목동점,양천구,37.530245,126.873300

In [6]:
df_pl.drop(columns={'dong'}, axis=1, inplace=True)
df_pl

         place_name    food                address   gu        lat         lng
0              커먼맨션  아시안/양식      서울특별시 종로구 경희궁길 36  종로구  37.572920  126.970063
1       귀한돌짜장 매운갈비찜      찜탕     서울특별시 강북구 4.19로 55  강북구  37.646420  127.008572
2               할배골      한식    서울특별시 도봉구 도봉로 493-4  도봉구  37.649833  127.034923
3     본죽&비빔밥 서울양원역점      한식      서울특별시 중랑구 양원역로 82  중랑구  37.607469  127.105874
4           육회먹은 꼬막       회   서울특별시 성북구 돌곶이로18길 29  성북구  37.609565  127.060586
...             ...     ...                    ...  ...        ...         ...
9456       청년어부 삼전점  돈까스/일식    서울특별시 송파구 백제고분로 198  송파구  37.503938  127.088562
9457  진전복 삼계탕 잠실직영점      찜탕  서울특별시 송파구 올림픽로35가길 10  송파구  37.516940  127.102633
9458    알이랑 고기랑 석촌점      한식   서울특별시 송파구 백제고분로40길 5  송파구  37.504004  127.106207
9459           남도에서      한식    서울특별시 강동구 동남로81길 58  강동구  37.559617  127.153701
9460        호산나 떡볶이      분식   서울특별시 송파구 송파대로36가길 5  송파구  37.500824  127.114818

[9461 rows x 6 columns]

In [7]:
df = pd.concat([df_pl, df_rc])
df

,place_name,food,address,gu,lat,lng
0,커먼맨션,아시안/양식,서울특별시 종로구 경희궁길 36,종로구,37.572920,126.970063
1,귀한돌짜장 매운갈비찜,찜탕,서울특별시 강북구 4.19로 55,강북구,37.646420,127.008572
2,할배골,한식,서울특별시 도봉구 도봉로 493-4,도봉구,37.649833,127.034923
3,본죽&비빔밥 서울양원역점,한식,서울특별시 중랑구 양원역로 82,중랑구,37.607469,127.105874
4,육회먹은 꼬막,회,서울특별시 성북구 돌곶이로18길 29,성북구,37.609565,127.060586
...,...,...,...,...,...,...
9093,긴자료코 마곡점,돈까스/일식,서울 강서구 마곡서로 158 마곡센트럴타워2 1층 115호 긴자료코,강서구,37.568089,126.825424
9094,파파노다이닝마곡점,돈까스/일식,서울 강서구 마곡서로 170 103호,강서구,37.569304,126.825593
9095,꽃마름 신방화점,찜탕,"서울 강서구 마곡중앙5로 81 2층 205호,206호,207호",강서구,37.567117,126.818597
9096,토리아에즈,돈까스/일식,서울 강서구 마곡중앙6로 63 마곡테크노타워 109호,강서구,37.560463,126.834394
9097,최우영스시 목동점,돈까스/일식,서울 양천구 목동서로 170 홈플러스 1층 최우영스시 목동점,양천구,37.530245,126.873300

In [8]:
df

,place_name,food,address,gu,lat,lng
0,커먼맨션,아시안/양식,서울특별시 종로구 경희궁길 36,종로구,37.572920,126.970063
1,귀한돌짜장 매운갈비찜,찜탕,서울특별시 강북구 4.19로 55,강북구,37.646420,127.008572
2,할배골,한식,서울특별시 도봉구 도봉로 493-4,도봉구,37.649833,127.034923
3,본죽&비빔밥 서울양원역점,한식,서울특별시 중랑구 양원역로 82,중랑구,37.607469,127.105874
4,육회먹은 꼬막,회,서울특별시 성북구 돌곶이로18길 29,성북구,37.609565,127.060586
...,...,...,...,...,...,...
9093,긴자료코 마곡점,돈까스/일식,서울 강서구 마곡서로 158 마곡센트럴타워2 1층 115호 긴자료코,강서구,37.568089,126.825424
9094,파파노다이닝마곡점,돈까스/일식,서울 강서구 마곡서로 170 103호,강서구,37.569304,126.825593
9095,꽃마름 신방화점,찜탕,"서울 강서구 마곡중앙5로 81 2층 205호,206호,207호",강서구,37.567117,126.818597
9096,토리아에즈,돈까스/일식,서울 강서구 마곡중앙6로 63 마곡테크노타워 109호,강서구,37.560463,126.834394
9097,최우영스시 목동점,돈까스/일식,서울 양천구 목동서로 170 홈플러스 1층 최우영스시 목동점,양천구,37.530245,126.873300

In [9]:
df[df.duplicated(['place_name', 'gu'], keep=False)]

,place_name,food,address,gu,lat,lng
77,최강달인 춘천닭갈비 명동점,한식,서울특별시 중구 명동8길 8-25,중구,37.562828,126.984030
84,장어시대,한식,서울특별시 광진구 뚝섬로 503,광진구,37.536076,127.066019
210,최강달인 춘천닭갈비 명동점,한식,서울특별시 중구 명동4길 23-3,중구,37.562722,126.984044
429,장안정,한식,서울특별시 동대문구 한천로28길 26,동대문구,37.573164,127.068160
433,루하스 사우나,한식,서울특별시 은평구 통일로 1022,은평구,37.633802,126.917739
...,...,...,...,...,...,...
9025,고향집,한식,서울 강남구 언주로134길 17 1층,강남구,37.516935,127.037015
9027,유성칼국수,한식,서울 강남구 삼성로58길 13,강남구,37.498822,127.062385
9033,명동칼국수,한식,서울 강남구 봉은사로 524,강남구,37.512832,127.057251
9062,구구족 망원역점,족발/보쌈,서울 마포구 월드컵로13길 9,마포구,37.555587,126.909751
9072,노메 약수점,돈까스/일식,서울 중구 다산로 114-12 1층,중구,37.553769,127.010805

In [10]:
df[df.duplicated(['place_name', 'food'], keep=False)]

,place_name,food,address,gu,lat,lng
34,파스타집이야,아시안/양식,서울특별시 서대문구 수색로 56,서대문구,37.570839,126.912314
40,짱꼬집,한식,서울특별시 은평구 연서로29길 20,은평구,37.619376,126.918308
43,1키로 탕수육,찜탕,서울특별시 성북구 삼선교로 20-1,성북구,37.587509,127.008176
58,켈리 토스트 카페,카페/디저트,서울특별시 동대문구 한천로46길 42,동대문구,37.581463,127.070707
67,시골밥상,한식,서울특별시 은평구 진흥로 190-1,은평구,37.608290,126.930750
...,...,...,...,...,...,...
9059,새벽집,한식,서울 마포구 월드컵북로 396 누리꿈스퀘어 B1,마포구,37.579428,126.889783
9062,구구족 망원역점,족발/보쌈,서울 마포구 월드컵로13길 9,마포구,37.555587,126.909751
9072,노메 약수점,돈까스/일식,서울 중구 다산로 114-12 1층,중구,37.553769,127.010805
9073,토리아에즈,돈까스/일식,서울 성동구 아차산로7길 7 1층,성동구,37.545987,127.054271
9096,토리아에즈,돈까스/일식,서울 강서구 마곡중앙6로 63 마곡테크노타워 109호,강서구,37.560463,126.834394

In [11]:
df.loc[df['place_name'] == '토리아에즈']

,place_name,food,address,gu,lat,lng
9187,토리아에즈,한식,서울특별시 강동구 풍성로 110,강동구,37.532124,127.124264
5690,토리아에즈,돈까스/일식,서울 중구 동호로10길 13,중구,37.554653,127.011720
5794,토리아에즈,돈까스/일식,서울 성북구 아리랑로19길 23,성북구,37.602376,127.012102
9073,토리아에즈,돈까스/일식,서울 성동구 아차산로7길 7 1층,성동구,37.545987,127.054271
9096,토리아에즈,돈까스/일식,서울 강서구 마곡중앙6로 63 마곡테크노타워 109호,강서구,37.560463,126.834394

In [12]:
df.drop_duplicates(['place_name', 'gu'], inplace=True)

In [13]:
df = df.loc[(df['place_name'] != '아시안상회 논라 대신점') & (df['place_name'] != 'CJ푸드월드 인천공항점')]

In [14]:
df

,place_name,food,address,gu,lat,lng
0,커먼맨션,아시안/양식,서울특별시 종로구 경희궁길 36,종로구,37.572920,126.970063
1,귀한돌짜장 매운갈비찜,찜탕,서울특별시 강북구 4.19로 55,강북구,37.646420,127.008572
2,할배골,한식,서울특별시 도봉구 도봉로 493-4,도봉구,37.649833,127.034923
3,본죽&비빔밥 서울양원역점,한식,서울특별시 중랑구 양원역로 82,중랑구,37.607469,127.105874
4,육회먹은 꼬막,회,서울특별시 성북구 돌곶이로18길 29,성북구,37.609565,127.060586
...,...,...,...,...,...,...
9093,긴자료코 마곡점,돈까스/일식,서울 강서구 마곡서로 158 마곡센트럴타워2 1층 115호 긴자료코,강서구,37.568089,126.825424
9094,파파노다이닝마곡점,돈까스/일식,서울 강서구 마곡서로 170 103호,강서구,37.569304,126.825593
9095,꽃마름 신방화점,찜탕,"서울 강서구 마곡중앙5로 81 2층 205호,206호,207호",강서구,37.567117,126.818597
9096,토리아에즈,돈까스/일식,서울 강서구 마곡중앙6로 63 마곡테크노타워 109호,강서구,37.560463,126.834394
9097,최우영스시 목동점,돈까스/일식,서울 양천구 목동서로 170 홈플러스 1층 최우영스시 목동점,양천구,37.530245,126.873300

In [15]:
df.set_index([pd.Index(range(0, df.food.count()))], inplace=True)

In [16]:
df.to_csv('./csv/place_location(full).csv', index=False, encoding='utf-8-sig')